@import "../../stylesheets/variables"

.section-about
  @media(min-width: $break-medium)
    +container
    +split-layout
    flex-direction: row-reverse

.about-content
  @media(min-width: $break-medium)
    +split-primary

.about-portrait
  margin-bottom: $base-spacing

  @media(min-width: $break-medium)
    +split-secondary
    justify-content: flex-start
    margin-bottom: 0

  img
    border-radius: $base-border-radius
    box-shadow: $base-shadow
    max-width: 300px
    width: 100%
