@import "../../stylesheets/variables"

.teaching
  @media(min-width: $break-medium)
    +split-layout

.teaching-portrait
  margin-bottom: $base-spacing

  @media(min-width: $break-medium)
    +split-secondary

  img
    border-radius: $base-border-radius
    box-shadow: $base-shadow
    max-width: 300px
    width: 100%

.teaching-content
  @media(min-width: $break-medium)
    +split-primary
    margin-left: $base-spacing
