@import "../../stylesheets/variables"
@import "../../stylesheets/typography"

$timeline-line-width: 2px
$timeline-line-color: rgba($muted-color, 0.10)

.timeline
  list-style-type: none
  margin-top: $large-spacing
  padding-left: $small-spacing
  position: relative

  &::before
    background-color: $timeline-line-color
    bottom: 0.6rem
    content: ""
    left: $small-spacing
    position: absolute
    top: 0.75rem
    width: $timeline-line-width

  li
    font-size: $small-font-size
    gap: $base-spacing
    margin: 0
    padding: 0 0 $large-spacing $base-spacing
    position: relative

    @media (min-width: $break-small)
      display: flex

    &:last-child
      padding-bottom: 0

    &::before
      background-color: $white
      border-radius: 100%
      box-shadow: 0 0 0 8px rgba($white, 0.1)
      content: ""
      left: $timeline-line-width / 2
      margin: 0
      position: absolute
      top: 0.75rem
      transform: translateX(-50%)
      height: 8px
      width: 8px

.timeline-details
  flex: 1

.timeline-case-studies
  flex: 0 0 32ch
  display: flex
  flex-direction: column
  gap: $small-spacing

.timeline-company
  color: $white
  margin: 0

  svg
    display: inline-block
    margin-right: 0.5rem
    max-height: 1.5rem
    max-width: 2rem
    vertical-align: -0.25rem

.timeline-span
  @extend %small
  margin-bottom: $smallest-spacing
  text-transform: none

.timeline-more
  margin-bottom: 0
  margin-top: 0.3em