@import "../../stylesheets/variables"

.branding
  ul
    list-style: none
    margin-top: $large-spacing
    padding: 0

    @supports (display: grid)
      display: grid
      grid-gap: 0 $small-spacing
      grid-template-columns: repeat(2, 1fr)

    @media (min-width: $break-small)

      @supports (display: grid)
        grid-template-columns: repeat(4, 1fr)

    li::before
      display: none

.brand
  align-items: center
  background-color: mix($offwhite, $light-brown, 75%)
  border-radius: $base-border-radius
  display: flex
  flex-direction: column
  justify-content: center
  margin: 0 0 $base-spacing
  padding: 10%
  position: relative
  transition: background-color $fast-timing, transform $fast-timing
  width: 100%

  &:hover
    transform: scale(1.15)

  &.gemini:hover
    background-color: #59b1d2

  &.proteus
    padding-bottom: $small-spacing
    padding-top: $small-spacing

    svg
      height: 110px

    #logo #P
      fill: mix($offwhite, $light-brown, 75%)
      transition: fill $fast-timing

    &:hover
      background-color: #4abaB0

      #logo #P
        fill: #4ABAB0

  &.sheriff:hover
    background-color: #f3c36e

  &.wifiguru:hover
    background-color: #7b7dbc

  &.armada:hover
    background-color: #206c91

  &.brightbit:hover
    background-color: #f7931e

  &.skyhelm:hover
    background-color: #37a5dd

  svg
    +size(100%)
    display: block

    path,
    polygon
      fill: $white

.brand-label
  +position(absolute, 100% 0 null)
  color: $muted-color
  font-size: $smallest-font-size
  font-weight: bold
  line-height: 1
  margin-top: 0.25em
  text-align: center
  text-transform: uppercase

  @media (min-width: $break-small)
    opacity: 0
    transition: opacity $fast-timing
    z-index: -1

  .brand:hover &
    @media (min-width: $break-small)
      opacity: 1
