@import "../../stylesheets/variables"

.gallery
  +angle-top
  +angle-bottom
  background-color: $offwhite
  display: none
  padding: $large-spacing 0
  position: relative

  @supports (display: grid)
    display: block

  section
    @supports (display: grid)
      display: grid
      grid-template-columns: repeat(12, 1fr)
      grid-gap: 0 0

    > *
      //background-color: shade($offwhite, 5%)
      padding: $smallest-spacing
      z-index: 0

  .parallax
    z-index: 10

  img,
  svg
    box-shadow: $small-shadow
    max-width: 100%

  svg
    background-color: #fff
    padding: 5% 10%

  // Desktop
  .gallery-armada-users
    grid-area: 1 / 1 / span 5 / span 8

  .gallery-sharespost-chart
    grid-area: 18 / 1 / span 6 / span 6
    z-index: 2

  .gallery-armada-home
    grid-area: 12 / 7 / span 10 / span 6

    img
      box-shadow: $base-shadow

  .gallery-armada-user
    grid-area: 24 / 5 / span 2 / span 8

  .gallery-nom-practice
    grid-area: 20 / 5 / span 8 / span 8
    z-index: 2

  .gallery-cmr-wires
    grid-area: 6 / 1 / span 12 / span 12

  // Mobile
  .gallery-summit-map
    grid-area: 3 / 9 / span 6 / span 4
    z-index: 2

    img
      box-shadow: $base-shadow

  .gallery-smartpanel
    grid-area: 24 / 1 / span 6 / span 4
    z-index: 2

  // Bits
  .gallery-summit-popover
    grid-area: 28 / 7 / span 3 / span 6
    z-index: 1

    img
      box-shadow: $base-shadow

  .gallery-expedia-fb
    grid-area: 26 / 1 / span 6 / span 6
    z-index: 1

    img
      box-shadow: $base-shadow

  .gallery-brand-armada
    +svg-fill(#206c91)
    grid-area: 24 / 2 / span 2 / span 4
    z-index: 3

    svg
      box-shadow: $base-shadow

    path
      fill: map-get($brand-colors, armada)

  .gallery-brand-wifiguru
    +svg-fill(#7b7dbc)
    grid-area: 18 / 2 / span 2 / span 4
    z-index: 2

    svg
      box-shadow: $base-shadow

  .gallery-brand-brightbit
    +svg-fill(#F7931E)
    grid-area: 5 / 4 / span 2 / span 4

    svg
      box-shadow: $base-shadow

  .gallery-brand-proteus
    grid-area: 24 / 6 / span 3 / span 3
    z-index: 2

    #logo #nucleus,
    #logo #particles circle
      fill: #4abaB0

    #logo #P
      fill: #fff

  .gallery-brand-gemini
    +svg-fill(#59b1d2)
    grid-area: 28 / 11 / span 1 / span 2

  .gallery-brand-skyhelm
    +svg-fill(#37a5dd)
    grid-area: 1 / 8 / span 2 / span 3

  .gallery-chart-comparison
    grid-area: 28 / 7 / span 3 / span 4

  .gallery-kit-logo
    grid-area: 31 / 7 / span 3 / span 3
