@import "../../stylesheets/variables"

.case-study--list
  +two-column
  padding-top: 0

  @media (min-width: $break-small)
    margin-bottom: $large-spacing

  > a
    display: block

    &:nth-child(even)
      @media (min-width: $break-small)
        @supports (display: grid)
          transform: translateY($large-spacing * 2)
