@import "../../stylesheets/variables"

.case-study--list
  padding-top: 0

  @media (min-width: $break-medium)
    columns: 2
    column-gap: $small-spacing

  > a
    display: block
    margin-bottom: $small-spacing

    &:first-child
      @media (min-width: $break-medium)
        margin-top: 9rem
