@import "../../stylesheets/variables"

.case-study--list
  padding-top: 0

  @media (min-width: $break-medium)
    margin-bottom: $large-spacing

    @supports (display: grid)
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-gap: 0 $small-spacing

  > a
    display: block

    &:nth-child(even)
      @media (min-width: $break-medium)
        @supports (display: grid)
          transform: translateY($large-spacing * 2)
