@import "../../stylesheets/variables"

.clients-logos
  display: flex
  gap: $smallest-spacing
  justify-content: space-around
  list-style: none
  margin: $base-spacing 0

  .client-logo
    border-radius: $base-border-radius
    color: $white
    display: flex
    flex: 1
    flex-direction: column
    justify-content: center
    position: relative
    transition: box-shadow $base-timing

    &:hover
      z-index: 2

      &::after
        opacity: 1
        transform: translateY(0)

    &::after
      +position(absolute, 100% 0 null)
      color: $muted-color
      content: attr(data-name)
      display: block
      font-family: $heading-font
      font-size: $smallest-font-size
      font-weight: $font-weight-light
      opacity: 0
      padding-top: $smallest-spacing
      transform: translateY(-100%)
      transition: transform $base-timing, opacity $slow-timing
      text-align: center
      z-index: -1

    svg
      max-width: 6rem
      max-height: 4rem
