@import "../../stylesheets/variables"

.clients-logos
  display: flex
  justify-content: space-between
  list-style: none
  margin-bottom: $base-spacing
  max-width: 60rem
  padding: 0

  .client-logo
    background: #fff
    border-radius: $base-border-radius
    display: flex
    flex: 1
    flex-direction: column
    justify-content: center
    padding: $small-spacing
    position: relative
    transition: box-shadow $base-timing

    &:hover
      box-shadow: $small-shadow
      z-index: 2

      &::after
        opacity: 1
        transform: translateY(0)

    &::after
      +position(absolute, 100% 0 null)
      color: $muted-color
      content: attr(data-name)
      display: block
      font-size: $smallest-font-size
      opacity: 0
      padding-top: 0.25rem
      transform: translateY(-100%)
      transition: transform $base-timing, opacity $slow-timing
      text-align: center
      z-index: -1

    svg
      max-height: 5rem
