.blog-index

  .section-title
    margin-bottom: 3em

  ul
    @extend .list-simple
    li
      padding: 5em 1em 3em
      border-bottom: 1px solid darken($offwhite, 10%)
      &:first-child
        padding-top: 3em
      &:last-child
        border-bottom: none

      .post-title
        font-size: 2em


.blog-archives
  @extend .container
  border-top: 3px double darken($offwhite, 10%)
  text-align: center
  ul
    @extend .list-inline



.post
  @extend .container

  .post-title
    margin-bottom: 0
    font-size: 2.5em
    text-align: center

  .post-meta
    display: block
    margin: .5em 0 3em
    text-align: center
    font-size: .8em
    color: $gray

  .post-link
    margin-top: 3em
    text-align: center



.embed-container
  position: relative
  height: 0
  margin: 0 0 5em 0
  padding: 30px 0 57%
  overflow: hidden
  iframe, object, embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.pagination
  @extend .container
  @extend .list-simple
  .back
    text-align: center
    a
      color: $text-color
      &:hover
        color: $link-color
  .prev
    float: left
  .next
    float: right

ul.tags
  @extend .list-inline
  overflow: hidden
  margin: 1em auto
  li
    margin: 0 .5em 0 0
  a
    position: relative
    z-index: 1
    border-radius: .25em
    padding: .25em .5em
    font-size: .8em
    line-height: 1.5em
    color: $gray
    background: darken($offwhite, 5%)
    &:hover
      color: white
      background: $blue
