.button
  background-repeat: repeat-x
  background-color: $link-color
  border-radius: 5px
  border: none
  color: $offwhite
  display: inline-block
  line-height: 2
  padding: .25em 1em .15em
  text-shadow: none
  transition: background-color $fast-timing

  &:hover
    background-color: $link-hover
    color: $offwhite
