footer
  @extend %small
  +clearfix
  background-color: $brown
  color: $muted-color
  font-size: $smallest-font-size
  padding: 0 0 $small-spacing
  position: relative
  text-align: center

  a
    color: $muted-color
