*
  box-sizing: border-box

html, body
  font-size: $base-font-size
  line-height: 1.5
  min-height: 100%

html
  background: $brown

body
  background: $background-color
  color: $text-color
  font-family: $sans-serif
  -webkit-font-smoothing: antialiased
