.section-about
  margin-top: 97.5vh

.home-intro
  $light: rgba(white, 0.05)
  $lighter: rgba(white, 0.03)
  $↘: repeating-linear-gradient(135deg, $light, $light 1px, transparent 1px, transparent 30px, $lighter 30px, $lighter 31px, transparent 31px, transparent 60px)
  $↙: repeating-linear-gradient(45deg, $light, $light 1px, transparent 1px, transparent 30px, $lighter 30px, $lighter 31px, transparent 31px, transparent 60px)
  animation: sliiide 30s linear
  background-image: $↘, $↙
