.intro
  +position(fixed, 0 0 null)
  align-items: center
  background-color: $brown
  color: $offwhite
  display: flex
  justify-content: center
  flex-direction: column
  height: $intro-height
  z-index: -1

  .intro-content
    animation: rise 1s ease-in-out

  h1
    margin-bottom: 0

  p
    margin: 0

    &.intro-job-title
      color: $muted-color
