@mixin container
  $_left: calc(#{$header-width} + 1vw)
  +clearfix
  margin: 0 auto
  padding: $large-spacing $base-spacing $large-spacing $_left

@mixin split-layout
  display: flex
  flex-direction: row
  justify-content: center

.split-layout
  @media (min-width: $break-medium)
    @include split-layout

@mixin split-primary
  flex: 3

.split-primary
  @media (min-width: $break-medium)
    @include split-primary

@mixin split-secondary
  justify-content: center
  display: flex
  flex: 1
  flex-direction: column

.split-secondary
  @media (min-width: $break-medium)
    @include split-secondary

  &:first-child
    @media (min-width: $break-medium)
      margin-right: $base-spacing

  &:last-child
    @media (min-width: $break-medium)
      margin-left: $base-spacing
