section.work
  max-width: none
  text-align: center
  color: white
  background: #333 center center
  background-size: cover

  h2
    font-size: 200%

  img
    display: block
    margin: 0 auto
    box-shadow: 0 0 0 1px white

  .work-desktop
    max-width: 600px
    margin: 0 auto 1em
    &:before
      content: "•••"
      display: block
      height: 1em
      border-radius: 0.25em 0.25em 0 0
      box-shadow: 0 0 0 1px white
      padding: 0 0.5em
      color: rgba(black, 0.2)
      background: white
      text-align: left
      line-height: 1.1em

  .section-link a
    @extend .btn-outline-light

  &.soundingboard
    background-color: #91779b
    background-image: image_url("portfolio/soundingboard-bg.jpg")

  &.thunderplains
    background-color: #2d373e
    background-image: image_url("portfolio/thunderplains-bg.jpg")

  &.baton
    color: #8c979b
    background-color: #333d41
    background-image: image_url("portfolio/baton-bg.png")

  &.reddirtruby
    background-color: #cc2d1e
    background-image: image_url("portfolio/reddirtruby-bg.jpg")

