section
  +container
  overflow-x: hidden

.section-link
  a
    @extend .btn
    @extend .btn-outline

.section-title
  @extend %small
  margin-bottom: $smallest-spacing

.content
  background-color: $background-color
  box-shadow: 0 0 2em $brown
  position: relative
  z-index: 1
