@charset "utf-8"

// Colors
$offwhite: #f2efed
$brown: #33312f
$red: #bf370a
$gray: #AAA
$blue: #17a1e5
$text-color: mix($brown, $offwhite, 75%)
$link-color: $blue
$link-hover: lighten($blue, 10%)

// Layout
$break-small: 480px
$break-medium: 1024px
$break-large: 1600px

// Fonts
@import 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'
$sans-serif: "Open Sans", Helvetica, sans-serif

