@import 'bourbon'
@import 'normalize'
@import 'symbolset'

@charset "utf-8"

// Settings
$offwhite: #f2efed
$brown: #33312f
$red: #bf370a
$gray: #AAA
$blue: #17a1e5
$text-color: mix($brown, $offwhite, 50%)
$link-color: $blue
$link-hover: lighten($blue, 10%)
$break-small: 480px
$break-medium: 1024px
$break-large: 1600px

@import 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'
$sans-serif: "Open Sans", Helvetica, sans-serif


// Global
html, body
  background: $offwhite
  min-height: 100%
  height: 100%

body
  color: $text-color
  font-family: $sans-serif
  font-size: 125%
  line-height: 1.5em
  @media only screen and (max-width: $break-medium)
    font-size: 100%

ul
  margin: 0 0 1em
  padding: 0 0 0 0.5em
  list-style: inside square
  &.list-simple
    list-style: none
    padding: 0
  &.list-inline
    @extend .list-simple
    li
      display: inline-block
      margin: 0 0.5em

img
  display: block
  max-width: 100%

#{headings()}
  margin: 0 0 1em
  font-weight: 300
  line-height: 1.25em

p
  margin: 0 0 1em

a
  color: $link-color
  text-decoration: none
  +transition(color, 250ms)
  &:hover
    color: $link-hover
    text-decoration: none

.container
  +clearfix
  max-width: $break-medium
  margin: 0 auto
  padding: 5em 1em
  &:before
    content: ""
    position: absolute
    z-index: 100
    display: block
    position: fixed
    top: 0
    left: 0
    right: 0
    height: 0.5em
    background: $red

section, .page
  @extend .container

.section-title
  text-align: center
  font-size: 150%
  @media only screen and (max-width: $break-medium)
    font-size: 100%

.section-link
  margin-top: 2.5em
  text-align: center
  a
    @extend .btn
    @extend .btn-outline

.top
  height: 100%
  width: 100%
  border-bottom: 1px solid white
  background: $brown
  +radial-gradient(lighten($brown, 10%), $brown)
  text-align: center
  +box(vertical, center, center)
  .no-flexbox &
    padding-top: 20%
  @media only screen and (max-width: $break-medium)
    font-size: 60%

.btn
  display: inline-block
  margin: 0
  padding: .75em 2em .65em
  border: none
  border-radius: 5px
  background: white
  background-repeat: repeat-x
  font-size: .75em
  line-height: 2em
  text-transform: uppercase
  text-shadow: none
  color: $link-color
  &:hover
    color: lighten($link-color, 10%)
  &.btn-primary
    border: none
    background: $link-color
    color: #fff
    text-shadow: none
    &:hover
      background: lighten($link-color, 2%)

.btn-large
  font-size: 1em
  line-height: 1em
  padding: 1em

.btn-small
  padding: .25em 1.5em .2em

.btn-outline
  background: none
  border: 2px solid $link-color
  &:hover
    border: 2px solid lighten($link-color, 10%)

.btn-outline-light
  border: 1px solid rgba(white, 0.25)
  color: white
  &:hover
    border-color: white



// Header
header
  margin-top: 0.5em
  padding: 1em
  display: block
  h1.logo
    margin: 0
    a
      display: block
      height: 70px
      color: white
      font-size: 35px
      line-height: 70px
      vertical-align: top
      color: mix(white, $brown)
      &:before
        content: ""
        display: inline-block
        float: left
        height: 70px
        width: 70px
        margin-right: 10px
        background: image-url("logo-header.svg") 10px 10px no-repeat



// Footer
footer
  @extend .container
  padding: 1em
  color: $gray
  text-align: center
  ul
    @extend .list-inline



// Home
body.index
  position: relative
  z-index: 1

  header
    position: absolute
    z-index: 2
    .logo a:before
      background-image: image-url("logo-header-top.svg")

  .top
    position: relative
    z-index: 1
    background-image: image-url("home-top.jpg")
    background-attachment: fixed
    background-size: cover

    h2
      margin: 0.25em 20px
      font-size: 200%
      color: white

    p
      margin: 0 20px
      font-size: 125%
      line-height: 1.5em
      a
        color: $text-color
        &:hover
          color: $link-hover

    ul
      @extend .list-inline
      width: $break-small
      max-width: 90%
      margin: 1em auto 0
      padding: 0 20px
      text-align: center
      li
        position: relative
        z-index: 1
        width: 25%
        margin: 0
        overflow: hidden
        a
          display: block
          padding: 0.5em 2%
          color: white
          font-size: 150%
          &:before
            padding: 0
          &:hover
            color: $link-hover
        span
          display: none

    .scroll-link
      @extend .btn-outline-light
      position: absolute
      z-index: 2
      bottom: 2em
      left: 50%
      width: 6em
      margin-left: -5em
      font-size: .6em
      text-align: center
      color: white

  .profile
    font-size: 125%
    line-height: 1.5em

section.dribbble
  max-width: 1800px

ul#dribbble
  @extend .list-inline
  li
    margin: 0 1% 1%
    width: 23%
    @media only screen and (max-width: $break-small)
      h3
        display: none
  img
    overflow: hidden
    border-radius: 5px
    box-shadow: 0 2px 3px -1px rgba(black, 0.35)
  h3
    height: 1.5em
    font-size: 100%
    line-height: 1.5em
    text-align: center
    font-weight: 300
    margin: 0.5em 0 2em
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap



// Portfolio
section.work
  max-width: none
  text-align: center
  color: white
  background: #333 center center
  background-size: cover

  h2
    font-size: 200%

  img
    display: block
    margin: 0 auto
    box-shadow: 0 0 0 1px white

  .work-desktop
    max-width: 600px
    margin: 0 auto 1em
    &:before
      content: "•••"
      display: block
      height: 1em
      border-radius: 0.25em 0.25em 0 0
      box-shadow: 0 0 0 1px white
      padding: 0 0.5em
      color: rgba(black, 0.2)
      background: white
      text-align: left
      line-height: 1.1em

  .section-link a
    @extend .btn-outline-light

  &.thunderplains
    background-color: #2d373e
    background-image: image_url("portfolio/thunderplains-bg.jpg")

  &.baton
    color: #8c979b
    background-color: #333d41
    background-image: image_url("portfolio/baton-bg.png")

  &.reddirtruby
    background-color: #cc2d1e
    background-image: image_url("portfolio/reddirtruby-bg.jpg")

  &.healpay
    background-color: #65993D
    background-image: image_url("portfolio/healpay-bg.jpg")

  &.refreshokc
    color: #fce687
    background-color: #4a5618
    background-image: image_url("portfolio/refreshokc-bg.jpg")

  &.wimgo
    background-color: #54707e
    background-image: image_url("portfolio/wimgo-bg.jpg")
