@import 'bourbon'
@import 'normalize'
@import 'symbolset'

@charset "utf-8"

// Settings
$offwhite: #f2efed
$brown: #33312f
$red: #bf370a
$gray: #AAA
$blue: #17a1e5
$text-color: mix($brown, $offwhite, 50%)
$link-color: $blue
$link-hover: lighten($blue, 10%)
$break-small: 480px
$break-medium: 1024px
$break-large: 1600px

@import 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'
$sans-serif: "Open Sans", Helvetica, sans-serif


// Global
html, body
  background: $offwhite
  min-height: 100%
  height: 100%

body
  color: $text-color
  font-family: $sans-serif
  font-size: 125%
  @media only screen and (max-width: $break-medium)
    font-size: 100%

ul
  margin: 0 0 1em
  padding: 0 0 0 0.5em
  list-style: inside square
  &.list-simple
    list-style: none
    padding: 0
  &.list-inline
    @extend .list-simple
    li
      display: inline-block
      margin: 0 0.5em

img
  display: block
  max-width: 100%

#{headings()}
  margin: 0 0 1em
  font-weight: 300

p
  margin: 0 0 1em

a
  color: $link-color
  text-decoration: none
  +transition(color, 250ms)
  &:hover
    color: $link-hover
    text-decoration: none

.container
  +clearfix
  max-width: 58em
  margin: 0 auto
  padding: 5em 1em
  &:before
    content: ""
    position: absolute
    z-index: 100
    display: block
    position: fixed
    top: 0
    left: 0
    right: 0
    height: 0.5em
    background: $red

section, .page
  @extend .container

.section-title
  text-align: center
  font-size: 150%
  @media only screen and (max-width: $break-medium)
    font-size: 100%

.top
  height: 100%
  width: 100%
  border-bottom: 1px solid white
  background: $brown
  color: white
  text-align: center
  +box(vertical, center, center)
  .no-flexbox &
    padding-top: 20%

.btn
  display: inline-block
  margin: 0
  padding: .75em 2em .65em
  border: none
  border-radius: 5px
  background: white
  background-repeat: repeat-x
  font-size: .75em
  line-height: 2em
  text-transform: uppercase
  text-shadow: none
  color: $link-color
  &:hover
    color: lighten($link-color, 10%)
  &.btn-primary
    border: none
    background: $link-color
    color: #fff
    text-shadow: none
    &:hover
      background: lighten($link-color, 2%)

.btn-large
  font-size: 1em
  line-height: 1em
  padding: 1em

.btn-small
  padding: .25em 1.5em .2em

.btn-outline
  background: none
  border: 2px solid $link-color
  &:hover
    border: 2px solid lighten($link-color, 10%)



// Header
header
  margin-top: 0.5em
  display: block
  h1.logo
    a
      display: block
      height: 70px
      color: white
      font-size: 35px
      line-height: 70px
      vertical-align: top
      color: mix(white, $brown)
      &:before
        content: ""
        display: inline-block
        height: 70px
        width: 70px
        margin-right: 10px
        background: image-url("logo-header.svg") 10px 10px no-repeat



// Footer
footer
  @extend .container
  padding: 1em
  color: $gray
  text-align: center
  ul
    @extend .list-inline



// Home
body.index
  position: relative
  z-index: 1

  header
    position: absolute
    z-index: 2
    .logo a:before
      background-image: image-url("logo-header-top.svg")

  .top
    position: relative
    z-index: 1
    padding: 0 20px

    section
      max-width: ($break-small - 40px)
      border-radius: 8px
      padding: 0
      background: white
      color: $text-color
      overflow: hidden

    h1, h2, p
      margin: 0.25em

    h1
      font-size: 200%
      color: $brown

    h2
      font-size: 100%
      a
        color: $text-color
        &:hover
          color: rgba($text-color, 0.5)

    ul
      @extend .list-inline
      margin: 1em 0 0
      border-top: 1px solid #ddd
      text-align: center
      li
        position: relative
        z-index: 1
        width: 25%
        margin: 0
        overflow: hidden
        &:after
          content: ""
          position: absolute
          z-index: 2
          top: 0
          bottom: 0
          right: 0
          width: 1px
          +radial-gradient(circle at 50% 50%, #ddd, white)
        &:last-child:after
          display: none
        a
          display: block
          padding: 0.5em 2%
          color: $link-color
          &:before
            padding: 0
          &:hover
            color: $link-hover
        span
          display: none

    .scroll-link
      position: absolute
      z-index: 2
      bottom: 2em
      left: 50%
      width: 6em
      margin-left: -5em
      border: 1px solid rgba(white, 0.5)
      font-size: .6em
      text-align: center
      color: white

section.dribbble
  max-width: 1800px

ul#dribbble
  @extend .list-inline
  li
    margin: 0 1% 1%
    width: 23%
    @media only screen and (max-width: $break-small)
      h3
        display: none
  img
    overflow: hidden
    border-radius: 5px
    +box-shadow(0 2px 3px -1px rgba(black, 0.35))
  h3
    height: 1.5em
    font-size: 100%
    line-height: 1.5em
    text-align: center
    font-weight: 300
    margin: 0.5em 0 2em
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
