@import "bourbon"
@import "variables"
@import "animations"
@import "buttons"
@import "section"
@import "typography"
@import "case-studies"
@import "exercises"

*
  box-sizing: border-box

html, body
  font-size: $base-font-size
  line-height: 1.5
  min-height: 100%

html
  background-color: $background-color
  transition: background-color $base-timing

body
  font-family: $sans-serif
  font-weight: 300
  margin: $small-spacing
  overflow-x: hidden

.app
  background-color: $white
  box-shadow: $base-shadow
  color: $text-color
  padding-bottom: $base-spacing
