@import "bourbon"
@import "variables"
@import "animations"
@import "buttons"
@import "section"
@import "typography"
@import "case-studies"
@import "exercises"

*
  box-sizing: border-box

  line-height: 1.5
  min-height: 100%

body
  background-color: $background-color
  font-family: $sans-serif
  font-weight: $font-weight-light
  margin: 0
  overflow-x: hidden
  padding: $small-spacing
  transition: background-color $base-timing

.app
  margin: 0 auto
  padding-bottom: $base-spacing
  width: $page-width

.page
  background-color: $white
  border-radius: 1rem
  box-shadow: $base-shadow
  color: $text-color

