@import "bourbon"
@import "variables"
@import "animations"
@import "buttons"
@import "section"
@import "typography"
@import "case-studies"
@import "exercises"

*
  box-sizing: border-box

body
  background-color: $background-color
  background-attachment: fixed
  background-repeat: no-repeat
  background-size: cover
  font-family: $sans-serif
  font-size: $base-font-size
  font-weight: $font-weight-regular
  line-height: 1.5
  margin: 0
  min-height: 100%
  overflow-x: hidden
  padding: $small-spacing
  transition: background-color $base-timing

.app
  margin: 0 auto
  padding-bottom: $base-spacing
  max-width: $page-max-width

.page
  background: linear-gradient(rgba($white, 0.85), rgba($white, 0.95) 10vh, $white 33vh)
  border-radius: 1rem
  box-shadow: $base-shadow, $highlight
  color: $text-color
  overflow: hidden

