.button
  @include elevation("low")
  background-color: tint($white, 33%)
  border: none
  border-radius: $base-border-radius
  color: $blue-500
  display: inline-block
  font-weight: $font-weight-regular
  line-height: 2
  padding: .2em 1em .25em
  text-shadow: none
  transition: color $fast-timing, transform $fast-timing, box-shadow $base-timing

  &:hover
    color: $blue-500

  &:active
    @include elevation("low")
    transform: translateY(0.1rem)
