@each $brand, $color in $brand-colors
  html[data-current="case_study--#{$brand}"]
    background: $color url("/images/case-studies/#{$brand}-intro.svg") center center
    background-size: contain

    .intro
      text-align: center

    .content
      box-shadow: 0 0 2em shade($color, 20%)

.case-study-example
  border-radius: $base-border-radius
  box-shadow: 0 0.2rem 0.8rem -0.2rem rgba($light-brown, 0.75)
  margin: $base-spacing auto $large-spacing
