@each $brand, $color in $brand-colors
  html[data-current="case_study--#{$brand}"]
    background: $color url("/images/case-studies/#{$brand}-intro.svg") center center
    background-size: contain

    .intro
      text-align: center

    .content
      box-shadow: 0 1rem 1rem -0.5rem shade($color, 33%), 0 1rem 3rem rgba(shade($color, 33%), 0.75)

.case-study-example
  border-radius: $base-border-radius
  box-shadow: 0 1rem 0.5rem -0.75rem rgba(#000, 0.25), 0 0.25rem 2rem rgba(#000, 0.15)
  margin: $base-spacing auto $large-spacing
