header
  margin-top: 0.5em
  padding: 1em
  display: block
  h1.logo
    margin: 0
    a
      display: block
      height: 70px
      color: white
      font-size: 35px
      line-height: 70px
      vertical-align: top
      color: $gray
      &:before
        content: ""
        display: inline-block
        float: left
        height: 70px
        width: 70px
        margin-right: 10px
        background: image-url("logo-header.svg") 10px 10px no-repeat
