.site-header
  +position(fixed, 0 null null 0)
  padding: $small-spacing
  width: $header-width
  z-index: $z-header

.logo
  svg
    display: block
    width: 100%

    path,
    ellipse
      fill: $light-brown
