body.index
  position: relative
  z-index: 1

  header
    position: absolute
    z-index: 2
    .logo a:before
      background-image: image-url("logo-header-top.svg")

  .top
    position: relative
    z-index: 1
    background-image: image-url("home-top.jpg")
    background-attachment: fixed
    background-size: cover

    h2
      margin: 0.25em 20px
      font-size: 200%
      color: white

    p
      margin: 0 20px
      font-size: 125%
      line-height: 1.5em
      a
        color: $text-color
        &:hover
          color: $link-hover

    ul
      @extend .list-inline
      width: $break-small
      max-width: 90%
      margin: 1em auto 0
      padding: 0 20px
      text-align: center
      li
        position: relative
        z-index: 1
        width: 20%
        margin: 0
        padding-bottom: 1.5em
        overflow: hidden
        .label
          display: none

        a
          display: block
          padding: 0.5em 2%
          color: white
          font-size: 150%
          &:before
            padding: 0
          &:hover
            color: $link-hover
            @media only screen and (min-width: $break-medium)
              .label
                display: block
                position: absolute
                z-index: 2
                left: 0
                right: 0
                bottom: 0.5em
                span
                  font-size: 40%
                  line-height: 1em
                  color: white
                  background: darken($brown, 10%)
                  border-radius: 5px
                  padding: 0.2em 0.8em
                  &:before
                    content: ""
                    height: 0
                    width: 0
                    position: absolute
                    z-index: 2
                    bottom: 1.5em
                    left: 50%
                    margin-left: -8px
                    border: 8px solid transparent
                    border-bottom-color: darken($brown, 10%)
          &.ss-rows:before
            position: relative
            z-index: 1
            top: 0.15em

    .scroll-link
      @extend .btn-outline-light
      position: absolute
      z-index: 2
      bottom: 2em
      left: 50%
      width: 6em
      margin-left: -5em
      font-size: .6em
      text-align: center
      color: white

  .profile
    font-size: 125%
    font-weight: 300
    line-height: 1.5em

    img
      border-radius: 0.5em
      margin-bottom: 1em
      @media only screen and (min-width: $break-small)
        &.pull-left
          margin: 0 1em 1em 0

section.dribbble
  max-width: 1800px

ul#dribbble
  @extend .list-inline
  li
    margin: 0 1% 1%
    width: 23%
    @media only screen and (max-width: $break-small)
      h3
        display: none
  img
    overflow: hidden
    border-radius: 5px
    box-shadow: 0 2px 3px -1px rgba(black, 0.35)
  h3
    height: 1.5em
    font-size: 100%
    line-height: 1.5em
    text-align: center
    font-weight: 300
    margin: 0.5em 0 2em
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
