section
  +container

.section-title
  @extend %small
  margin-bottom: $smallest-spacing

  .intro &
    color: $offwhite

.card
  background-color: $background-color
  border-radius: $base-border-radius
  box-shadow: $large-shadow
  margin-bottom: $small-spacing
  position: relative

.content
  margin: $base-spacing $small-spacing $small-spacing $header-width
  transition: box-shadow $fast-timing, transform $base-timing
  z-index: 2

  @media (min-width: $break-medium)
    margin-right: $large-spacing

  .intro + &
    margin-top: $intro-height

  .nav-active &
    transform: translate($header-width-wide)

  &.case-studies--content,
  &.exercises--content
    margin-top: $intro-height
