section
  +container

.section-title,
.section-footer
  @extend %small
  font-family: $heading-font
  margin-bottom: $smallest-spacing

  .intro &
    color: $offwhite

.section-footer
  text-align: right

.inset
  margin: 3vw 0
  padding: $large-spacing 0
  position: relative

  &.inset--desktop
    padding: 0

  &.inset--phone
    padding: 0

    .case-study-phone
      margin-top: 0

  img
    margin: 0

  section
    padding-bottom: 0
    padding-top: 0

  figure
    margin: 0
    position: relative
    z-index: 3

  figcaption
    margin-bottom: $base-spacing
    padding-bottom: $large-spacing
