h1,
h2,
h3,
h4
  font-family: $heading-font
  font-weight: $font-weight-medium
  line-height: 1.4
  margin: 0 0 $small-spacing

h1
  font-size: 3rem

h2
  color: $red
  font-size: 2.25rem

h3
  font-size: 1.5rem

ul
  list-style: none
  margin: 0 0 $base-spacing 0
  padding: 0

  li
    padding-left: 0

    &::before
      color: $muted-color
      content: "•"
      display: inline-block
      font-size: 1.5em
      line-height: 0
      margin-left: -$small-spacing
      margin-right: $smallest-spacing

p
  margin: 0 0 $base-spacing
  font-weight: $font-weight-regular

a
  color: $link-color
  font-weight: $font-weight-medium
  text-decoration: none
  transition: color $base-timing

  &:hover
    color: $link-hover
    text-decoration: none

strong
  font-weight: $font-weight-medium

img,
svg
  display: block
  margin: 0 auto
  max-width: 100%

%small
  color: $muted-color
  font-size: $small-font-size
  font-weight: $font-weight-medium
  opacity: 0.66

mark
  color: mix($text-color, $highlight-color, 90%)
  +highlight($highlight-color)
  font-weight: $font-weight-regular

.year
  @extend mark
  display: inline-block
  color: $muted-color
  font-family: $sans-serif
  font-size: 0.7em
  font-weight: $font-weight-regular
  line-height: 1
  padding: 0.2em 0.5em 0.15em

  .portfolio-title &,
  .brand-label &
    margin-left: 0.5em

  .brand-label &
    font-size: 1em

blockquote
  background-color: #fff
  border-left: 5px solid rgba($muted-color, 0.33)
  margin-left: $base-spacing
  margin-right: 0
  padding-left: $small-spacing
  position: relative

  &::before
    +position(absolute, -0.1em null null -0.5em)
    color: rgba($muted-color, 0.33)
    content: "“"
    font-family: Georgia, serif
    font-size: 4.5em
    line-height: 1

  .quote-author
    color: $red
    display: block
    font-size: 0.75em
    margin-top: 0.25em

    svg
      display: inline-block
      margin: 0 0.05rem 0 0.15rem
      max-width: 1rem
      vertical-align: -0.35em

figure
  margin: $large-spacing 0

  .case-study-example
    margin: 0 auto

figcaption
  color: $muted-color
  font-size: small
  margin: $small-spacing auto $base-spacing
  text-align: center

.more
  @extend %small
  color: $blue
  display: block
  margin-top: -$small-spacing

  &::after
    border: 0.37em solid transparent
    border-left-color: currentColor
    content: ""
    display: inline-block
    height: 0
    margin-left: 0.5em
    transition: transform $base-timing
    width: 0

  &:hover::after
    transform: translateX(0.5em)

pre
  background-color: #f7f7f7
  font-size: $small-font-size
  padding: 0 $small-spacing

  .nc,
  .s
    color: shade($green, 25%)

  .nb
    color: $blue

  .m
    color: $cyan

  .na
    color: $magenta
