@import "bourbon"

// Colors
$black: #000
$white: #fff
$neutral-900: #262322
$neutral-800: #3D3734
$neutral-700: #4D4743
$neutral-600: #665F5A
$neutral-500: #7F7973
$neutral-400: #B2ACA5
$neutral-300: #D8D4CF
$neutral-200: #F0EEEB
$neutral-100: #F8F8F6
$brown-900: #40241D
$brown-800: #703B28
$brown-700: #8B533A
$brown-600: #A67254
$brown-500: #C29574
$brown-400: #DAB898
$brown-300: #ECD2B3
$brown-200: #F8E8D0
$brown-100: #FBF4E7
$yellow-900: #CC8B0A
$yellow-800: #D9A516
$yellow-700: #E5C12E
$yellow-600: #F2DC49
$yellow-500: #FFEF66
$yellow-400: #FFF173
$yellow-300: #FFF599
$yellow-200: #FFF9BF
$yellow-100: #FFFDE5
$orange-900: #4D2F13
$orange-800: #8C500F
$orange-700: #B26809
$orange-600: #D18515
$orange-500: #F5A925
$orange-400: #F9C763
$orange-300: #FCD883
$orange-200: #FEE9AC
$orange-100: #FEF8E5 
$red-900: #401621
$red-800: #801325
$red-700: #B72131
$red-600: #DB3333
$red-500: #F24B40
$red-400: #FF8B75
$red-300: #FFAB90
$red-200: #FFD7C4
$red-100: #FFF0E5
$purple-900: #40193D
$purple-800: #661D58
$purple-700: #913576
$purple-600: #AD4D88
$purple-500: #CA6A9B
$purple-400: #DF8FB0
$purple-300: #EFAAC0
$purple-200: #F9CAD4
$purple-100: #FCEDEF
$violet-900: #1C1433
$violet-800: #2F1966
$violet-700: #56319F
$violet-600: #7448BE
$violet-500: #9663DE
$violet-400: #B689EB
$violet-300: #D0ABF5
$violet-200: #E5C9FB
$violet-100: #F6F0FA
$blue-900: #0F1633
$blue-800: #162973
$blue-700: #2945A9
$blue-600: #3C5BCA
$blue-500: #5379EB
$blue-400: #8BA5F3
$blue-300: #B3C5F9
$blue-200: #D9E2FF
$blue-100: #F1F4FE
$cyan-900: #172133
$cyan-800: #143E7A
$cyan-700: #2363AB
$cyan-600: #3384CC
$cyan-500: #47A9EE
$cyan-400: #73C6F4
$cyan-300: #90DAF9
$cyan-200: #B6ECFD
$cyan-100: #DAF7FE
$teal-900: #172B33
$teal-800: #206473
$teal-700: #3B99A2
$teal-600: #56C2C2
$teal-500: #77E2D8
$teal-400: #99EDDE
$teal-300: #B0F6E3
$teal-200: #CCFCEA
$teal-100: #E5FDF2
$green-900: #2D4016
$green-800: #4C7319
$green-700: #74A32D
$green-600: #94C342
$green-500: #B6E35B
$green-400: #CEEE83
$green-300: #DFF69D
$green-200: #EEFCBF
$green-100: #F7FDDF

$background-color: $neutral-900
$text-color: $neutral-200
$muted-color: rgba($white, 0.55)
$link-color: $cyan-500
$link-hover: $cyan-300
$highlight-color: rgba($yellow-500, 0.15)

// Layout
$break-small: 600px
$break-medium: 1000px
$break-large: 1400px

// Fonts
$sans-serif: -apple-system, BlinkMacSystemFont, sans-serif
$heading-font: "TiemposHeadline", Georgia, serif
$font-weight-light: 300
$font-weight-regular: 400
$font-weight-semibold: 600
$font-weight-black: 800

// Sizes
$base-font-size: clamp(16px, 1.5vw, 24px)
$small-font-size: clamp(14px, 1.3vw, 16px)
$smallest-font-size: clamp(10px, 1.5vw, 16px)
$large-font-size: 1.25rem
$base-spacing: 2rem
$small-spacing: $base-spacing / 2
$smallest-spacing: $base-spacing / 4
$large-spacing: $base-spacing * 2
$larger-spacing: $base-spacing * 4
$base-border-radius: 0.25rem
$large-border-radius: 1rem
$page-max-width: calc(66ch + (#{$large-spacing} * 2))

// Z-indeces
$z-base: 1
$z-header: 5

// Angles
$base-angle: 6vw

// Brand Colors
$brand-colors: (armada: #1b6c94, summit: #B93A32, sharespost: #332D8D, kitmath: #F76707, vault: #5a6370, structure: #2e71e5)

// Animations
$base-timing: 250ms
$fast-timing: $base-timing / 2
$slow-timing: $base-timing * 2

@mixin container
  +clearfix
  margin: 0 auto
  padding: $large-spacing $base-spacing

  @media (min-width: $break-medium)
    padding: $large-spacing

@mixin brand-gradient($color)
  $shifted-color: tint(adjust-hue($color, 15%), 5%)
  color: #fff
  background: $color linear-gradient(-15deg, $color 10%, $shifted-color)
  background: -o-linear-gradient(transparent, transparent)

@mixin brand-text($color)
  +brand-gradient($color)
  color: $color
  -webkit-text-fill-color: transparent
  -webkit-background-clip: text

@mixin highlight($color)
  background-color: $color
  border-radius: 2rem 0.5rem
  padding: 0 0.5rem

@mixin title-line($color: currentColor, $width: $small-spacing)
  position: relative

  &::before
    +position(absolute, 50% null null 0)
    background: url("/source/images/dot.svg") repeat
    background-size: 4px 4px
    content: ""
    display: block
    height: #{4px * 2 + 1px}
    transform: translateX(calc(-100% - #{$smallest-spacing})) translateY(-50%)
    width: #{4px * 5 + 1px}

@mixin two-column
  @media (min-width: $break-small)
    @supports (display: grid)
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-gap: 0 $small-spacing

@mixin svg-fill($color)
  path,
  polygon,
  g,
  circle
    fill: $color

@mixin elevation($elevation: "medium", $theme: "on-dark")
  $elevations: ("base": "1px", "low": "2px", "medium": "4px", "high": "8px", "highest": "16px")
  $colors: ("on-dark": rgba(0, 0, 0, 0.25), "on-light": rgba(0, 0, 0, 0.075))
  $elevation: index(map-keys($elevations), $elevation)
  $color: map-get($colors, $theme)
  $output: ()
  
  @for $i from 1 through $elevation
    $elevations-values: map-values($elevations)
    $size: nth($elevations-values, $i)
    $added: "0 #{$size} #{$size} #{$color}"
    $output: join($output, unquote($added), "comma")
    
  box-shadow: $output