@import "bourbon"

// Colors
$black: #000
$white: #fff
$offwhite: #f2efed
$brown: #33312f
$light-brown: #4E4B48
$red: #f15729
$gray: #bbb
$blue: #53B1E1
$yellow: #f4da5c
$green: #bfd849
$magenta: #c76baa
$cyan: #66ddd2

$background-color: $white
$text-color: $brown
$muted-color: mix($text-color, $background-color, 50%)
$link-color: $blue
$link-hover: shade($blue, 15%)
$logo-color: $offwhite
$highlight-color: rgba(mix($yellow, $red, 95%), 0.25)

$base-shadow: 0 1.1rem 0.33rem -0.75rem rgba(#000, 0.3), 0 0.5rem 1rem rgba(#000, 0.1)
$large-shadow: 0 1rem 1rem -0.5rem rgba(#000, 0.3), 0 1rem 3rem rgba(#000, 0.1)
$small-shadow: 0 0.5rem 0.33rem -0.33rem rgba($black, 0.1), 0 0.25rem 1rem rgba($black, 0.1)
$smallest-shadow: 0 0.25rem 0.25rem -0.25rem rgba($black, 0.33), 0 0.1rem 0.25rem rgba($black, 0.1)

// Layout
$break-small: 480px
$break-medium: 1024px
$break-large: 1600px

// Fonts
$sans-serif: "Brandon", -apple-system, BlinkMacSystemFont, sans-serif
$heading-font: "Libre Baskerville", $sans-serif

// Sizes
$base-font-size: calc(1rem + 0.15 * (100vw - 25em) / 100)
$small-font-size: 0.8rem
$smallest-font-size: 0.66rem
$body-padding: 1rem
$small-body-padding: $body-padding / 2
$base-spacing: 2rem
$small-spacing: $base-spacing / 2
$smallest-spacing: $base-spacing / 4
$large-spacing: $base-spacing * 2
$base-border-radius: 0.25rem

// Z-indeces
$z-base: 1
$z-header: 5

// Brand Colors
$brand-colors: (armada: #1b6c94, summit: #B93A32, ember: #e46651, schoolkeep: #23bd84, carma: #555756, ooo: #41434e, sharespost: #332D8D)

// Animations
$base-timing: 250ms
$fast-timing: $base-timing / 2
$slow-timing: $base-timing * 2

@mixin container
  +clearfix
  margin: 0 auto
  max-width: $break-medium
  padding: $base-spacing

  @media (min-width: $break-medium)
    padding-left: $large-spacing
    padding-right: $large-spacing

@mixin brand-gradient($color)
  $shifted-color: tint(desaturate($color, 10%), 20%)
  background: $color linear-gradient(135deg, $color 50%, $shifted-color)

@mixin brand-text($color)
  $shifted-color: tint(desaturate($color, 20%), 30%)
  color: $color
  -webkit-text-fill-color: transparent
  background: $color linear-gradient(90deg, $color 33%, $shifted-color)
  background: -o-linear-gradient(transparent, transparent)
  -webkit-background-clip: text

@mixin highlight($color)
  +linear-gradient(transparent 0%, transparent 10%, $color 10%, $color 95%, transparent 95%, $fallback: transparent)
  border-radius: 1rem
  padding: 0 0.25rem

@mixin title-line($color: currentColor, $width: $small-spacing)
  position: relative

  &::before
    +position(absolute, 0.6em 100% null null)
    background-color: $color
    content: ""
    display: block
    height: 2px
    margin-right: $small-spacing
    width: $width

@mixin angle
  position: relative
  &::after
    +position(absolute, null 0)
    background-color: $background-color
    content: ""
    height: 6vw
    transform: skewY(3deg)
    z-index: 1

@mixin angle-bottom
  +angle
  &::after
    bottom: 0
    transform-origin: 0 50%

@mixin angle-top
  +angle
  &::after
    top: 0
    transform-origin: 100% 50%
