@import "../../stylesheets/variables"

.tools-list
  +two-column

  li
    margin: $small-spacing 0 $base-spacing

    &::before
      display: none

  h3
    font-size: 1.2rem
    margin: 0 0 $smallest-spacing

  p
    font-size: $small-font-size
    margin: 0
