.container {
  display: block;
  height: 100%;
}

.surface {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: hidden;
}

.imageContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 2 / 1;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  object-fit: cover;
}

.textContainer {
  flex: 1;
  padding: var(--smallest-spacing) var(--smaller-spacing) var(--smaller-spacing );
}

.title {
  color: var(--text-color);
  line-height: 1.2;
}