.container {
  border-top: 1px solid rgba(var(--theme-highlight-rgb), 0.08);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--smallest-spacing);
  position: relative;
  padding: 0.25rem var(--small-spacing);
}

.container:first-child {
  border-top: none;
}

.container:last-child {
  border-bottom: none;
}

.title {
  color: var(--text-color);
  font-size: var(--smaller-font-size);
}

.date {
  font-family: var(--heading-font);
  margin: 0;
  width: 6rem;
  text-align: right;
}