.card {
  /* background-image is not done with variables to prevent bug where bg disappears on hover*/
  --card-background-color: var(--theme-muted-color);
  --card-muted-color: var(--theme-muted-color);
  --card-highlight-rgb: var(--theme-highlight-rgb);
  --card-highlight: inset 0 1px 0 0 rgba(var(--card-highlight-rgb), 0.25);
  background-color: var(--card-background-color);
  border-radius: var(--large-border-radius);
  break-inside: avoid;
  color: var(--white);
  display: flex;
  flex-direction: column;
  margin: var(--small-spacing) 0;
  overflow: hidden;
  position: relative;
  transition: transform var(--base-timing) ease-in-out;
}

.card:hover {
  transform: scale(102%);
}

.header {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: var(--smallest-spacing);
  padding: var(--base-spacing) var(--base-spacing) var(--small-spacing);
}

.icon {
  border-radius: 0;
  box-shadow: none;
  max-height: 2rem;
  max-width: 2rem;
  margin: 0;
}

.copy {
  display: block;
  flex: 2;
}

.title {
  color: var(--white);
  margin: 0;
}

.meta {
  color: rgba(255, 255, 255, 0.5);
  display: block;
  margin: 0;
}

.thumbnail {
  flex: 3;
  overflow: hidden;
  margin: 0 var(--small-spacing);
  max-height: var(--large-spacing);
}

.thumbnail img {
  border-radius: var(--base-border-radius) var(--base-border-radius) 0 0;
  height: auto;
}