.list {
  --offset: calc(50vw - (var(--page-width) / 2) - var(--large-spacing));
  display: flex;
  flex-direction: row;
  padding: 0 var(--offset) var(--base-spacing);
  scroll-snap-type: x mandatory;
  scroll-padding-left: var(--offset);
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.list > * {
  scroll-snap-align: start;
}

.list::-webkit-scrollbar {
  display: none;
}

.indicatorContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 0.5em;
  cursor: pointer;
}

.indicator {
  width: 0.45em;
  height: 0.45em;
  background: var(--muted-color);
  border-radius: var(--small-spacing);
  transition: all var(--base-timing);
}

.indicator.active {
  background: white;
  height: 0.5em;
  width: 2em;
}