.card {
  align-items: center;
  background-color: var(--muted-color);
  background-position: center center;
  background-size: cover;
  border-radius: var(--large-border-radius);
  box-shadow: var(--shadow-base);
  break-inside: avoid;
  color: var(--white);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: var(--small-spacing) 0;
  padding: var(--base-spacing) var(--small-spacing);
  text-align: center;
  transition: transform var(--fast-timing), box-shadow var(--fast-timing);
}

.card:hover {
  box-shadow: var(--shadow-high);
  transform: scale(102%);
}

.card h4 {
  color: var(--white);
  font-size: 2rem;
  margin-bottom: 0;
}

.card p {
  font-size: var(--smallest-font-size);
  margin: 0;
}

.icon {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: var(--smallest-spacing);
}

.icon img {
  border-radius: 0;
  box-shadow: none;
  height: 3rem;
}

.thumbnail {
  height: 50vh;
  margin: var(--base-spacing) var(--large-spacing) 0;
  height: 15rem;
  position: relative;
}