.card {
  /* background-image is not done with variables to prevent bug where bg disappears on hover*/
  --card-background-color: var(--theme-muted-color);
  --card-muted-color: var(--theme-muted-color);
  --card-highlight-rgb: var(--theme-highlight-rgb);
  --card-highlight: inset 0 1px 0 0 rgba(var(--card-highlight-rgb), 0.25);
  align-items: center;
  background-color: var(--card-background-color);
  background-position: center center;
  background-size: cover;
  border-radius: var(--large-border-radius);
  box-shadow: var(--card-highlight), var(--shadow-none);
  break-inside: avoid;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: var(--small-spacing);
  margin: var(--small-spacing) 0;
  overflow: hidden;
  padding: var(--base-spacing);
  transition: transform var(--base-timing), box-shadow var(--slow-timing);
  width: 24em;
}

.icon img {
  border-radius: 0;
  box-shadow: none;
  height: 3rem;
  margin: 0;
}

.card:hover {
  box-shadow: var(--card-highlight), var(--shadow-medium);
  transform: scale(102%);
}

.card h4 {
  font-size: 1.2em;
  margin-bottom: 0;
}

.card small {
  color: rgba(255, 255, 255, 0.5);
}