.list {
  --offset: calc(50vw - (var(--page-width) / 2) - var(--large-spacing));
  display: flex;
  flex-direction: row;
  padding: 0 var(--offset) var(--large-spacing);
  scroll-snap-type: x mandatory;
  scroll-padding-left: var(--offset);
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.list > * {
  scroll-snap-align: start;
}

.list::-webkit-scrollbar {
  display: none;
}