.cardContainer {
  padding: var(--base-spacing) var(--large-spacing);
  transition: padding var(--slow-timing) var(--base-easing);
}

.card {
  --card-size: 26rem;
  --corner-radius: calc(var(--card-size) * 0.04);
  --spine-radius: calc(var(--card-size) * 0.01);
  --background-gradient: linear-gradient(-135deg, var(--bg-start) 5%, var(--bg-end));
  --spine-shadow: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 8%);
  background: var(--background-gradient), var(--spine-shadow);
  border-radius: var(--spine-radius) var(--corner-radius) var(--corner-radius) var(--spine-radius);
  box-shadow: var(--shadow-low);
  display: block;
  padding: var(--base-spacing);
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  height: var(--card-size);
  width: calc(var(--card-size) * 0.8);
}

.card:hover {
  box-shadow: var(--shadow-high);
}

.textContent small {
  color: rgba(255, 255, 255, 0.5);
}

.title {
  color: rgba(255, 255, 255, 0.66);
  font-size: 2rem;
}

.image {
  border-radius: 0.5vh;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 10%;
  height: auto;
  width: 100%;
  right: -100%;
}