.cardContainer {
  padding: var(--base-spacing) var(--base-spacing) var(--large-spacing);
  transition: padding var(--slow-timing) var(--base-easing);
}

.card {
  background-image: radial-gradient(circle at 50% 50%, var(--bg-start) 50%, var(--bg-end) 150%);
  border-top: 0.5px solid rgba(255, 255, 255, 0.2);
  box-shadow: var(--shadow-low);
  display: block;
  padding: var(--small-spacing) var(--base-spacing);
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  height: 26rem;
  width: 26rem;
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
  gap: var(--smallest-spacing);
}

.meta {
  color: var(--primary);
  font-size: var(--small-font-size);
}

.title {
  color: white;
  font-size: 2.25rem;
  width: 66%;
  margin-bottom: 0;
}

.image {
  border-radius: var(--small-border-radius);
  box-shadow: var(--shadow-low);
  margin: 0;
  position: absolute;
  top: 66%;
  left: var(--base-spacing);
  width: calc(100% - (var(--base-spacing) * 2));
  height: auto;
  right: var(--base-spacing);
}

.staples {
  background: var(--primary);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0.33em;
  z-index: 2;
}

.arrow {
  background: black;
  border-radius: 100%;
  color: white;
  display: block;
  position: absolute;
  bottom: var(--smaller-spacing);
  right: var(--smaller-spacing);
  width: var(--base-spacing);
  padding: 1%;
}