.footer {
  padding: var(--large-spacing);
}

.title {
  color: var(--theme-muted-color);
  font-size: 1.25rem;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--small-spacing) 0;
}

.links {
  display: flex;
  gap: var(--smallest-spacing);
}

.links a {
  color: var(--theme-muted-color);
  transition: color var(--base-timing);
}

.links a:hover {
  color: var(--theme-link-hover);
}

.links a svg {
  height: 1.5em;
  width: 1.5em;
}

/* Color Scheme Switch */
.switchBg {
  --border-width: calc(var(--smallest-spacing) / 2);
  border-radius: var(--large-spacing);
  border: var(--border-width) solid transparent;
  cursor: pointer;
  display: inline-flex;
  padding: 0;
  width: calc(var(--border-width) + (var(--base-spacing) * 1.66) + var(--border-width));
}

.switchBg::before {
  --spacing: calc((var(--smallest-spacing) / 2 * -1) - 1px);
  top: var(--spacing);
  left: var(--spacing);
  right: var(--spacing);
  bottom: var(--spacing);
  border-radius: 5em;
}

.switchBg:focus {
  outline: none;
}

.switchIndicator {
  display: inline-block;
  border-radius: 100%;
  left: 0;
  position: relative;
  transition: left var(--base-timing) ease-in-out;
}

.switchIndicatorOn {
  left: calc(100% - var(--base-spacing));
}

.switchIndicator svg {
  color: var(--theme-text-color);
  height: var(--base-spacing);
  width: var(--base-spacing);
  transition: transform 0s;
  transition-delay: var(--fast-timing);
}

.switchIndicatorOn svg {
  transform: scaleX(-1);
}

.srOnly {
  display: none;
}