.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--large-spacing) 0;
}

.copyright {
  margin: 0;
}

.copyright a {
  color: var(--theme-muted-color);
}

.copyright a:hover {
  color: var(--theme-link-hover);
}

/* Color Scheme Switch */
.switch {
  --switch-size: 3em;
  border: none;
  cursor: pointer;
  padding: calc(var(--switch-size) / 8);
  text-align: left;
  width: calc(var(--switch-size) * 2);
}

.switch::before {
  border-radius: var(--switch-size);
}

.switch:focus {
  outline: none;
}

.switchIndicator {
  display: inline-block;
  border-radius: 100%;
  left: 0;
  position: relative;
  transition: left var(--base-timing) var(--base-easing);
}

.switchIndicatorOn {
  left: calc(100% - var(--switch-size));
}

.switchIndicator svg {
  color: var(--theme-text-color);
  height: var(--switch-size);
  width: var(--switch-size);
  transition: transform var(--base-timing) var(--base-easing);
}

.switchIndicatorOn svg {
  transform: rotate(180deg);
}

.srOnly {
  display: none;
}