.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: var(--large-spacing);
  padding-bottom: var(--large-spacing);
  gap: var(--base-spacing);
}

.leftColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--smaller-spacing);
}

.copyright {
  margin: 0;
}

.copyright a {
  color: var(--text-color);
}

/* Social Links */
.socialLinks {
  display: flex;
  gap: var(--smaller-spacing);
  align-items: center;
}

.socialLink {
  color: var(--muted-color);
  transition: color var(--base-timing) var(--base-easing);
  display: flex;
  align-items: center;
  text-decoration: none;
}

.socialLink:hover {
  color: var(--text-color);
}

.socialLink svg {
  width: 1.25rem;
  height: 1.25rem;
}

/* Color Scheme Switch */
.switchContainer {
  display: flex;
  align-items: center;
  gap: var(--smaller-spacing);
}

.switchLabel {
  color: var(--muted-color);
  width: 0.75rem;
  height: 0.75rem;
}

.switchLabel:last-child {
  transform: scale(1.25);
}

.switch {
  --switch-size: 1.25rem;
  background: rgba(0, 0, 0, var(--shadow-o-u));
  border: none;
  border-radius: calc(var(--switch-size) * 2);
  box-shadow: var(--shadow-inset), inset var(--shadow-outline);
  cursor: pointer;
  padding: 0.25rem;
  text-align: left;
  width: calc(var(--switch-size) * 2.5);
}

.switch:focus {
  outline: none;
}

.switchIndicator {
  display: inline-block;
  background: var(--background-start);
  border-radius: 100%;
  display: block;
  height: var(--switch-size);
  width: var(--switch-size);
  left: 0;
  position: relative;
  transition: left var(--base-timing) var(--base-easing);
  box-shadow: var(--shadow-low),
              var(--shadow-outline),
              inset 0 1px 0 0 rgba(var(--theme-highlight-rgb), 0.25);
}

.switchIndicatorOn {
  left: calc(100% - var(--switch-size));
}

.srOnly {
  display: none;
}