.header {
  justify-content: flex-start;
  display: flex;
  margin: var(--small-spacing) 0 var(--large-spacing);
}

.logo {
  color: var(--theme-muted-color);
  display: block;
  transform: scaleX(-1) rotate(60deg);
  transition: color var(--base-timing);
  width: 2rem;
}

.logo:hover {
  color: var(--theme-accent-color);
}
