.container {
  animation: rise var(--slow-timing) ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--large-spacing) 0 0;
  position: relative;
  transform-origin: var(--base-spacing) 100%;
  z-index: 2;
}

.title {
  margin: 0;
  text-align: center;
}

.meta {
  border-top: 1px solid var(--theme-muted-color);
  display: flex;
  flex-direction: column;
  font-size: var(--small-font-size);
  gap: var(--small-spacing);
  padding: var(--small-spacing) var(--base-spacing);
}

@media (min-width: 1000px) {
  .meta {
    flex-direction: row;
    gap: var(--base-spacing);
  }
}

.metaItem {
  flex: 1;
  font-size: var(--small-font-size);
  min-width: 6em;
}

.metaItem::before {
  content: none;
}

.metaItem label {
  color: var(--theme-muted-color);
  font-family: var(--heading-font);
}

@keyframes rise {
  0% {
    opacity: 0;
    transform: translateY(var(--base-spacing));
  }

  10% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}