.container {
  animation: rise var(--slow-timing) ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--large-spacing) 0;
  position: relative;
  transform-origin: var(--base-spacing) 100%;
  z-index: 2;
}

.title {
  margin-bottom: 0;
  text-align: center;
}

.meta {
  justify-content: center;
  border-top: 0.5px solid var(--theme-muted-color);
  display: flex;
  flex-direction: column;
  font-size: var(--small-font-size);
  gap: var(--small-spacing);
  margin-top: var(--smallest-spacing);
  padding: var(--small-spacing) var(--base-spacing);
  width: 100%;
}

.icon {
  display: inline-block;
  height: 1.25em;
  margin-right: 0.5em;
  vertical-align: -0.33em;
}

@media (min-width: 600px) {
  .meta {
    flex-direction: row;
    gap: var(--base-spacing);
  }
}

.metaItem {
  font-size: var(--small-font-size);
}

.metaItem::before {
  content: none;
}

.metaItem label {
  color: var(--theme-muted-color);
  font-family: var(--heading-font);
}

@keyframes rise {
  0% {
    opacity: 0;
    transform: translateY(var(--base-spacing));
  }

  10% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}