.app {
  padding: var(--small-spacing) var(--base-spacing) 0;
  background: transparent url("/images/noise-transparent.png") repeat 0 0;
  background-size: 200px;
}

.page {
  margin: 0 auto;
  max-width: var(--page-max-width);
}
