.app {
  padding: var(--small-spacing) var(--base-spacing) 0;
  background: transparent url("/images/noise-transparent.png") repeat 0 0;
  background-size: 200px;
}

.page {
  background-color: var(--theme-page-color);
  border-radius: var(--large-border-radius);
  margin: 0 auto;
  max-width: var(--page-max-width);
  padding: var(--large-spacing);
}
