.surface {
  backdrop-filter: blur(0.5rem);
  background: rgba(var(--stark-rgb), var(--surface-opacity));
  background-size: 100px;
  border-radius: var(--surface-border-radius);
  padding: var(--smallest-spacing);
  position: relative;
  box-shadow: var(--shadow-low);
  width: auto;
  transition: all var(--base-timing) var(--base-easing);
  z-index: 1;
}

.surface:hover {
  background: rgba(var(--stark-rgb), var(--surface-opacity-hover));
  backdrop-filter: blur(1rem);
  box-shadow: var(--shadow-high);
}

/* Border gradient */
@property --surface-border-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 120deg;
}

.surface::before {
  --border-start: rgba(var(--theme-highlight-rgb), 0.08);
  --border-middle: rgba(var(--theme-highlight-rgb), 0.05);
  --border-end: rgba(var(--theme-highlight-rgb), 0.15);
  animation: rotateBorder 12s infinite linear;
  background-image: linear-gradient(
    var(--surface-border-angle),
    var(--border-start),
    var(--border-middle) 33%,
    var(--border-middle) 90%,
    var(--border-end)
  );
  border-radius: var(--surface-border-radius);
  box-shadow: var(--shadow-outline);
  /* Put it behind */
  content: "";
  display: inline-block;
  padding: 1px;
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  z-index: -1;
  /* Mask */
  -webkit-mask:
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

@keyframes rotateBorder {
  0%   {
    --surface-border-angle: 120deg;
    border-radius: var(--surface-border-radius);
  }
  100% {
    --surface-border-angle: 480deg;
    border-radius: var(--surface-border-radius);
  }
}

.surface > img {
  box-shadow: var(--shadow-lowest);
}