.itemContainer {
  display: flex;
  flex-direction: column;
  gap: var(--base-spacing);
}

@media (min-width: 1000px) {
  .itemContainer {
    flex-direction: row;
  }

  .textContainer,
  .cardContainer {
    flex: 1;
  }
}

.cardContainer {
  display: flex;
  align-items: center;
  gap: var(--small-spacing);
  justify-content: center;
}

.title {
  color: var(--theme-text-color);
  font-size: 1.75rem;
  margin: 0;
}

.icon {
  display: inline-block;
  margin-right: 0.5rem;
  max-height: 2rem;
  max-width: 2rem;
  vertical-align: -0.25rem;
}

.subtitle {
  display: block;
  font-family: var(--heading-font);
  margin: var(--smallest-spacing) 0;
  text-transform: none;
}

