.place {
  font-size: var(--small-font-size);
  margin: 0 0 var(--base-spacing);
  padding: 0 0 var(--large-spacing) var(--base-spacing);
  position: relative;
}

.place::before {
  background-color: var(--theme-text-color);
  border-radius: 100%;
  box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.05);
  content: "";
  display: block;
  left: calc(var(--timeline-line-width) / 2);
  margin: 0;
  position: absolute;
  top: 0.95rem;
  transform: translateX(-50%);
  height: 5px;
  width: 5px;
}

.details {
  flex: 1;
}

.case-studies {
  flex: 0 0 32ch;
  display: flex;
  flex-direction: column;
  gap: var(--small-spacing);
}

.company {
  color: var(--theme-text-color);
  font-size: 2rem;
  margin: 0;
}

.icon {
  display: inline-block;
  margin-right: 0.5rem;
  max-height: 2rem;
  max-width: 2rem;
  vertical-align: -0.25rem;
}

.employment {
  display: block;
  font-family: var(--heading-font);
  margin: var(--smallest-spacing) 0;
  text-transform: none;
}

.more {
  margin-bottom: 0;
  margin-top: 0.3em;
}