.card {
  background-color: var(--card-background-color);
  background-image: var(--card-background-image);
  background-size: cover;
  background-position: center;
  border-radius: var(--base-border-radius);
  box-shadow: var(--shadow-low);
  break-inside: avoid;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: var(--small-spacing);
  position: relative;
  transition: transform var(--base-timing) var(--base-easing);
  transform-style: preserve-3d;
  z-index: 1;
  height: 18em;
  width: 13em;
  z-index: 1;
}

.card:hover {
  box-shadow: var(--shadow-high);
}

@media (max-width: 900px) {
  .card {
    height: 15em;
    width: 11em;
  }
}

.icon {
  border-radius: 0;
  box-shadow: none;
  height: 3em;
  width: 4em;
  margin: 0;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--white);
  margin-bottom: 0.33em;
}

.meta {
  color: rgba(255, 255, 255, 0.5);
  display: block;
  line-height: 1;
  margin: 0;
}

.arrow {
  color: rgba(255, 255, 255, 0.33);
  height: 0;
  margin: 0;
  opacity: 0;
  transition: all var(--base-timing) var(--base-easing);
}

.card:hover .arrow {
  height: 1em;
  padding: 0.5em 0 1em;
  opacity: 1;
}