.timelineList {
  display: flex;
  flex-direction: column;
  gap: 10vw;
}

.itemContainer {
  display: flex;
  gap: var(--base-spacing);
}

.textContainer {
  flex: 1;
}

.logoContainer {
  flex: 1;
  display: flex;
  justify-content: space-around;
  gap: var(--small-spacing);
  margin: var(--base-spacing);
}

.logoContainer svg {
  color: var(--theme-muted-color);
  flex: 1;
  max-height: var(--large-spacing);
}
