.itemContainer {
  display: flex;
  align-items: center;
  gap: var(--small-spacing);
  max-width: 100%;
}

@media (max-width: 900px) {
  .itemContainer {
    flex-direction: column;
  }
}

.cardContainer {
  display: flex;
  align-items: center;
  gap: var(--small-spacing);
  padding-bottom: var(--large-spacing);
  justify-content: center;
}

.cardContainer > :nth-child(2) {
  margin-left: -10%;
  margin-top: 15%;
  z-index: 2;
}

.title {
  color: var(--text-color);
}

.icon {
  display: inline-block;
  margin-right: 0.5rem;
  vertical-align: -0.33rem;
}

.subtitle {
  display: block;
  margin: 0 0 var(--small-spacing);
  text-transform: none;
}

