.cardLink {
  display: block;
}

.card {
  /* background-image is not done with variables to prevent bug where bg disappears on hover*/
  --card-background-color: var(--theme-muted-color);
  --card-muted-color: var(--theme-muted-color);
  --card-highlight-rgb: var(--theme-highlight-rgb);
  --card-highlight: inset 0 1px 0 0 rgba(var(--card-highlight-rgb), 0.25);
  background-color: var(--card-background-color);
  border-radius: var(--base-border-radius);
  box-shadow: var(--shadow-base);
  break-inside: avoid;
  color: var(--white);
  display: flex;
  font-size: 75%;
  flex-direction: column;
  overflow: hidden;
  padding: var(--small-spacing);
  position: relative;
  transition: transform var(--base-timing) ease-in-out;
  transform-style: preserve-3d;
  z-index: 1;
  height: 14rem;
  width: 11rem;
}

.card:hover {
  box-shadow: var(--shadow-high);
}

.header {
  align-content: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  transform: translateZ(100px);
}

.icon {
  border-radius: 0;
  box-shadow: none;
  height: 3rem;
  width: 3rem;
  margin: 0;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--white);
  margin-bottom: 0.33em;
}

.meta {
  color: rgba(255, 255, 255, 0.5);
  display: block;
  line-height: 1;
  margin: 0;
}

.arrow {
  color: rgba(255, 255, 255, 0.33);
  height: 0;
  margin: 0;
  opacity: 0;
  transition: all var(--base-timing);
}

.card:hover .arrow {
  height: 1em;
  padding: 0.5em 0 1em;
  opacity: 1;
}