.tabList {
  --offset: calc(-1 * var(--base-spacing));
  justify-content: flex-end;
  display: flex;
  margin: var(--offset) var(--offset) var(--small-spacing) 0;
  position: relative;
  z-index: 2;
}

.tab {
  all: unset;
  display: flex;
  align-items: center;
  color: var(--theme-muted-color);
  flex-direction: row;
	font-size: var(--small-font-size);
	font-weight: 500;
	cursor: pointer;
  padding: var(--smallest-spacing) var(--small-spacing);
	transition: var(--base-timing) ease-in;
}

.tab[tabindex="0"] {
  color: var(--theme-text-color);
}

.tab:first-child::after {
  content: "â— Now";
  color: rgba(var(--theme-highlight-rgb), 0.5);
	font-size: 0.8em;
  font-weight: var(--font-weight-semibold);
  margin: 0.1em 0 0 0.5em;
}

.icon {
  display: inline-block;
  height: 1.5em;
  margin-right: var(--smallest-spacing);
  width: 1.5em;
}

.tabGlider {
  background: var(--theme-stark-color);
  border: 1px solid rgba(var(--theme-highlight-rgb), 0.1);
  border-radius: 99px;
  left: 0;
  opacity: 0;
  position: absolute;
  height: 32px;
  top: 50%;
  transform: translateY(-50%);
  transition: width var(--fast-timing) ease-in, left var(--base-timing) ease-out, opacity var(--slow-timing) ease-in;
  z-index: -1;
}

.caseStudies {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  gap: 1rem;
}

.caseStudies > * {
  display: flex;
  width: min(50%, 20em);
}
