.card {
  --card-height: 15rem;
  height: var(--card-height);
  width: calc(var(--card-height) * var(--smaller));
  background-color: var(--card-background-color);
  background-image: var(--card-background-image);
  background-size: cover;
  background-position: center;
  border-radius: var(--base-border-radius);
  box-shadow: var(--shadow-low);
  break-inside: avoid;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: var(--smaller-spacing);
  position: relative;
  transition: transform var(--base-timing) var(--base-easing);
  transform-style: preserve-3d;
  z-index: 1;
}

@media (max-width: 900px) {
  .card {
    --card-height: 13rem;
  }
}

.card:hover {
  box-shadow: var(--shadow-high);
}

.icon {
  border-radius: 0;
  box-shadow: none;
  height: 3rem;
  width: 4rem;
  margin: 0;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.title {
  color: var(--white);
}

.meta {
  color: rgba(255, 255, 255, 0.5);
  display: block;
  line-height: 1.5;
  margin: 0;
}

.arrow {
  color: rgba(255, 255, 255, 0.5);
  filter: var(--motion-blur);
  font-size: var(--smallest-font-size);
  height: 0;
  margin: 0;
  opacity: 0;
  transition: all var(--base-timing) var(--base-easing);
}

.card:hover .arrow {
  filter: blur(0);
  height: 1em;
  margin-bottom: 1em;
  opacity: 1;
}