.header {
  --portrait-size: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 33vh 0;
  position: relative;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--background-start);
  font-size: 18vw;
  font-weight: var(--font-weight-black);
  opacity: 0.75;
  mix-blend-mode: overlay;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.1),
               0 1px 1px rgba(255,255,255,0.05);
  pointer-events: none;
  transition: --heading-color var(--base-timing) var(--base-easing);
}

.card {
  align-items: center;
  display: flex;
  gap: var(--smaller-spacing);
  max-width: 24rem;
  padding: 0.25rem;
}

.portraitContainer {
  position: relative;
  width: var(--portrait-size);
}

.portrait {
  border-radius: var(--app-border-radius);
  height: auto;
}

.status {
  --offset: 0.5rem;
  background-color: var(--black);
  content: "";
  display: inline-block;
  font-size: 0;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  position: absolute;
  bottom: var(--offset);
  right: var(--offset);
  box-shadow: 0 0 0 2px var(--neutral-900);
}

.status.online {
  background-color: var(--green-700);
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: var(--font-weight-black);
}

.meta {
  font-size: var(--small-font-size);
}

.time {
  font-size: var(--smallest-font-size);
  color: var(--muted-color);
}

.textContainer p {
  font-size: var(--smallest-font-size);
  margin: 0.15rem 0 0.25rem;
}