.container {
  animation: rise var(--slowest-timing) ease-out;
  margin: 0 auto calc(var(--base-spacing) * -1);
  max-width: var(--page-max-width);
  padding: 0 var(--large-spacing);
  position: relative;
  z-index: 3;
}

@media (min-width: 40em) {
  .container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.portrait {
  flex: 2;
  margin: 0 auto;
  max-width: 50vw;
}

.portrait img {
  box-shadow: var(--shadow-high);
}

@media (min-width: 40em) {
  .textContainer {
    flex: 3;
    margin-left: var(--base-spacing);
  }
}

.title {
  color: var(--theme-muted-color);
  font-size: 3.25rem;
  line-height: 95%;
  margin-bottom: var(--smallest-spacing);
  position: relative;
}

@media (min-width: 40em) {
  .title::before {
    display: block;
  }
}

@keyframes rise {
  0% {
    opacity: 0;
    transform: translateY(var(--base-spacing));
  }

  10% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}