.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--small-spacing);
  position: relative;
  padding: 5vh 0 0;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    margin-bottom: calc(var(--base-spacing) * -1);
    justify-content: center;
    padding: 15vh 0 5vh;
  }
}

.portrait {
  flex: 1;
  max-width: 16em;
}

.portrait img {
  box-shadow: var(--shadow-high);
  height: auto;
}

html[data-prefers-color-scheme="light"] .portrait img {
  box-shadow: var(--shadow-low);
}

.textContainer {
  margin-bottom: var(--small-spacing);
}