@import "../../stylesheets/variables"

footer
  background-color: $offwhite
  color: $muted-color
  margin-top: $base-spacing
  position: relative
  transition: transform $base-timing
  z-index: 1

  section
    padding: $small-spacing $base-spacing

  h2
    font-size: 1.5rem

  a
    color: $muted-color
    font-weight: 500
    text-decoration: underline

    &:hover
      text-decoration: underline

  p
    margin-bottom: $small-spacing

  .copyright
    font-size: $smallest-font-size
    font-weight: normal
    margin-bottom: 0
    text-align: center

    a
      text-decoration: none

.link-email,
.link-dribbble,
.link-github,
.link-twitter,
.link-linkedin
  white-space: nowrap
