@import "../../stylesheets/variables"

footer
  color: $white
  margin-top: $base-spacing
  position: relative
  transition: transform $base-timing
  z-index: 1

  section
    padding: $small-spacing $base-spacing

  h2
    font-size: 1.5rem

  a
    font-weight: $font-weight-regular
    text-decoration: underline

    &:hover
      text-decoration: underline

  p
    margin-bottom: $small-spacing

  .copyright
    font-size: $smallest-font-size
    font-weight: $font-weight-regular
    margin-bottom: 0
    text-align: center

    a
      color: $white
      text-decoration: none

      &:hover
        color: $link-color
        text-decoration: underline

.link-email,
.link-dribbble,
.link-github,
.link-twitter,
.link-linkedin
  white-space: nowrap
