@import "../../stylesheets/variables"

footer
  @include elevation("high")
  background: linear-gradient(-15deg, rgba($black, 0.66), rgba($black, 0.33))
  border-radius: $large-border-radius
  margin: $base-spacing auto 0
  max-width: $page-max-width
  padding: $small-spacing $base-spacing
  position: relative
  transition: transform $base-timing
  z-index: 1

  @media (min-width: $break-medium)
    padding: $base-spacing $large-spacing

  section
    padding: 0

  h2
    font-size: 1.5rem

  a
    font-weight: $font-weight-regular
    text-decoration: underline

    &:hover
      text-decoration: underline

  p
    margin-bottom: $small-spacing

  .copyright
    color: $muted-color
    font-size: $smallest-font-size
    font-weight: $font-weight-regular
    margin-bottom: 0
    margin-top: $base-spacing
    text-align: center

    a
      color: $muted-color
      text-decoration: none

      &:hover
        color: $white
        text-decoration: underline

.link-email,
.link-dribbble,
.link-github,
.link-twitter,
.link-linkedin
  white-space: nowrap
