---
title: Armada
date: 2015/01/01
short_name: "armada"
role: "Branding &amp; Product Design"
preview: "portfolio-armada-screen.svg"
preview_type: "screen"
summary: "This OKC based team is bringing a modern startup approach to fleet and asset tracking. I helped them design their entire product and identity and did a fair bit of Ruby and Google Maps Javascript too."
---

section
 h1 Hi
