---
published: false
title: Carma
date: 2015/09/01
short_name: "carma"
role: "Design &amp; Data Visualization"
preview: "portfolio-carma-screen.png"
preview_type: "screen"
summary: "Carma provides insight into what the world is saying about your brand. This was the most intensive data-visualization project that I have had the chance to work on, and I got to dig into <a href='https://d3js.org' target='_new' rel='noopener'>D3 and custom charting</a>, which was a lot of fun. There were around ten custom charts to design and develop and creating a shared framework for them was a fun challenge."
---
