---
title: OOO
date: 2014/12/15
short_name: "ooo"
role: "Design &amp; Prototyping"
preview: "portfolio-ooo-screen.png"
preview_type: "screen"
icon: "case-studies/ooo-icon.svg"
summary: "This is a little something we experimented on at thoughtbot for Out of Office (OOO) notifications. We came up with a way to automate the hassle of telling your team you would be gone and made it much simpler. We ended up integrating many of these ideas and designs into our larger internal planning app, but I still love the way the original idea looked."
---

section
  .section-title Background
  p
    |
      This is a little something we experimented on at thoughtbot for Out of Office (OOO) notifications.
      We came up with a way to automate the hassle of telling your team you would be gone and made it much simpler.
      We ended up integrating many of these ideas and designs into our larger internal planning app, but I still love the way the original idea looked.

section
  .section-title The Challenge
  h2 Are we developers or not?
  p
    |
      X

section
  .section-title The Solution
  h2 Let the app do the work
  p
    |
      X

section
  .section-title In Summary
  h2 Never underestimate a small team

  p
    |
      X
