---
title: Summit Guide
date: 2015/01/01
short_name: "summit"
role: "Hybrid Mobile App Development"
preview: "portfolio-summit-screen.png"
preview_type: "phone"
summary: "I worked together with other thoughtbot Denver designers to design and build a mobile app to help our friends get around town for our annual company summit. I was the sole developer, and using <a href='https://ionic.io' target='_new' rel='noopener'>Ionic</a> made it possible to build quickly and work on everyone's devices."
---
