@import "../../stylesheets/variables"

.site-header
  +position(absolute, $body-padding $body-padding null)
  display: flex
  justify-content: space-between
  padding: $base-spacing $base-spacing 0
  z-index: $z-header

.logo
  display: block
  width: 2rem

  @media (max-width: $break-medium)
    width: 1.5rem

  svg
    display: block
    width: 2rem

    @media (max-width: $break-medium)
      width: 1.5rem

    path,
    ellipse
      fill: $muted-color
      transition: fill $base-timing

      body[data-intro="true"] &
        fill: $white

.site-nav
  ul
    margin: 0 1em 0 0
    padding: 0

  li
    display: inline-block
    list-style: none
    margin: 0 0 0 $small-spacing
    padding: 0

  a
    color: $light-brown
    display: block
    font-size: $small-font-size
    font-weight: 500
    line-height: 3

    body[data-intro="true"] &
      color: $white

    &:hover
      color: $muted-color

      body[data-intro="true"] &
        color: $white
