@import "../../stylesheets/variables"

.site-header
  +position(absolute, $small-spacing $small-spacing null)
  display: flex
  justify-content: space-between
  padding: $small-spacing $base-spacing 0
  z-index: $z-header

.logo
  display: block
  width: 2rem

  @media (max-width: $break-medium)
    width: 1.5rem

  svg
    display: block
    width: 2rem

    @media (max-width: $break-medium)
      width: 1.5rem

    path,
    ellipse
      fill: $muted-color
      transition: fill $base-timing

      body[data-intro="true"] &
        fill: $white

.site-nav
  ul
    .list-inline
    margin: 0
    padding: 0

  li
    display: inline-block
    list-style: none
    margin: 0 0 0 $base-spacing
    padding: 0

    &::before
      display: none

  a
    color: $light-brown
    display: block
    font-size: $small-font-size
    font-weight: 500
    line-height: 1.2
    position: relative

    &::after
      +position(absolute, null null -0.33rem 50%)
      background-color: $muted-color
      border-radius: 0.25rem 0
      height: 3px
      content: ""
      display: block
      opacity: 0
      transform: skewX(-20deg) translateX(-50%)
      transition: bottom $base-timing, opacity $fast-timing, width $base-timing
      width: 0

    body[data-intro="true"] &
      color: $white

      &::after
        background-color: rgba($white, 0.5)

    body[data-current="about"] &[data-link-to="about"],
    body[data-current="articles"] &[data-link-to="articles"],
    body[data-current="work"] &[data-link-to="work"]
      &::after
        background-color: $red
        opacity: 1
        width: 90%


    &:hover
      color: $muted-color

      &::after
        opacity: 1
        width: 90%

      body[data-intro="true"] &
        color: $white
