@import "../../stylesheets/variables"

.case-study-item
  background-color: $muted-color
  background-position: center center
  background-size: cover
  border-radius: $large-border-radius
  break-inside: avoid
  color: $white
  display: flex
  flex-direction: column
  align-items: center
  margin-bottom: $small-spacing
  padding: $base-spacing $small-spacing
  text-align: center
  transform: translateY($base-spacing)
  transition: transform $slow-timing
  transition-delay: $base-timing

  &.animated
    transform: translateY(0)

  &--icon
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center
    margin-bottom: $small-spacing
    width: 4rem

    svg
      flex: 0 0 33%

  h3
    color: $white
    font-size: 1.5rem
    margin-bottom: 0

  p
    font-size: $small-font-size
    margin: 0
