@import "../../stylesheets/variables"

.case-study-item
  background-color: $muted-color
  background-position: center center
  background-size: cover
  border-radius: $large-border-radius
  break-inside: avoid
  color: $white
  display: flex
  flex-direction: column
  align-items: center
  padding: $small-spacing
  text-align: center

  &--icon
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center
    margin-bottom: $small-spacing

    svg
      height: 3rem
      flex: 0 0 33%

  h3
    color: $white
    font-size: 1.25rem
    margin-bottom: 0

  p
    font-size: $smallest-font-size
    margin: 0
