@import "../../stylesheets/variables"
$skew: skew(0, -5deg)
$unskew: skew(0, 5deg)

.portfolio
  padding-right: 0

  @media (max-width: $break-medium)
    padding-left: 0

.portfolio-intro
  @media (max-width: $break-medium)
    +container

.portfolio-section
  position: relative
  transform: $skew

  @media (min-width: $break-medium)
    +split-layout
    margin-bottom: $small-spacing
    height: 600px
    transform: none

  @media (max-width: $break-medium)
    +container
    color: $white

    @each $brand, $color in $brand-colors
      &.#{$brand}
        background-color: $color

        *
          border-color: $white
          color: $white

  @each $brand, $color in $brand-colors
    &.#{$brand}
      .button
        color: $color

.portfolio-description
  box-sizing: border-box
  margin-right: $small-spacing
  padding-right: $base-spacing
  position: relative
  transform: $unskew

  @media (min-width: $break-medium)
    +split-secondary
    transform: none

  .section-title
    font-size: $smallest-font-size

  p
    font-size: $small-font-size
    line-height: 1.5

.portfolio-title
  margin-bottom: $smallest-spacing

.portfolio-preview
  background-color: $light-brown
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  box-shadow: 0 1.1rem 0.33rem -0.75rem rgba(#000, 0.3), 0 0.5rem 1rem rgba(#000, 0.1)
  box-sizing: border-box
  margin-right: -$small-spacing
  overflow: hidden
  position: relative

  @media (min-width: $break-medium)
    +split-primary
    align-items: flex-end
    display: flex
    justify-content: center
    flex-direction: row
    overflow: hidden
    margin-left: $small-spacing
    padding: $base-spacing $base-spacing 0
    transform: $skew translateX(0)
    transition: transform $slow-timing

    &:hover
      transform: $skew translateX(-$base-spacing)

  @each $brand, $color in $brand-colors
    .#{$brand} &
      $shifted-color: tint(desaturate(adjust-hue($color, -15%), 10%), 5%)
      background: linear-gradient(90deg, $color 55%, $shifted-color)
      border-radius: $base-border-radius 0 0 $base-border-radius

      .device-outer
        fill: $color

.portfolio-screen
  border: 1px solid $white
  border-radius: $smallest-spacing $smallest-spacing 0 0
  display: inline-block
  opacity: 0
  padding-top: $small-spacing
  position: relative
  transform: translateY($large-spacing) $unskew
  transition: opacity $slow-timing, transform $slow-timing ease-in-out

  @each $brand, $color in $brand-colors
    .#{$brand} &
      background-color: $color

  &::before
    +position(absolute, 0 null null 0)
    background: radial-gradient(rgba(#fff, 0) 32%, #fff 33%, #fff 40%, rgba(#fff, 0) 41%)
    background-position: 0 0, #{$small-spacing} #{$small-spacing}
    background-size: #{$small-spacing} #{$small-spacing}
    content: ""
    display: block
    margin-left: $smallest-spacing
    opacity: 0.33
    height: $small-spacing
    width: $small-spacing * 3

  .animated &
    opacity: 1
    transform: translateY($base-spacing) $unskew

  img
    border-top: 1px solid $white

.portfolio-phone
  +size(147px 308px)
  align-self: center
  margin: 0 auto
  max-width: 26.5vh
  max-height: 55vh
  opacity: 0
  position: relative
  transform: rotate(-15deg)
  transition: opacity $slow-timing, transform $slow-timing ease-in-out

  @media (min-width: $break-medium)
    +size(295px 615px)
    margin-top: -$base-spacing

  .animated &
    opacity: 1
    transform: rotate(-30deg)

  svg
    background-size: cover
    position: absolute
    z-index: 1

  img
    max-width: none
    left: 8.5%
    position: absolute
    top: 13.5%
    width: 85%
    z-index: 2

.portfolio-float
  +position(absolute, 50% null null 50%)
  transform: translate(-50%, -50%)
  z-index: 2
