@import "../../stylesheets/variables"

.article-summary
  display: block
  margin-bottom: $base-spacing

  h3
    color: $white
    margin-bottom: 0
    transition: ease-in-out $fast-timing

  p
    color: $text-color
    margin-top: $smallest-spacing

  header
    display: flex
    gap: $base-spacing

.article-content
  flex: 1

.article-meta
  color: $muted-color
  font-size: $small-font-size
  font-weight: $font-weight-regular
  margin-top: 0.25rem
  width: 8rem

  svg
    display: inline-block
    margin: 0 0.05rem 0 0.15rem
    max-width: 1rem
    vertical-align: -0.35em

.article-summary__featured
  h3
    @media (min-width: $break-small)
      font-size: 2rem

  p
    color: $muted-color
    margin: 0

.article-content
  img
    margin: $large-spacing auto
