@import "../../stylesheets/variables"

.article-summary
  display: block
  margin-bottom: $base-spacing

  h3
    color: $white
    margin-bottom: 0
    padding-left: $base-spacing
    transition: color $fast-timing

    @media (min-width: $break-small)
      padding-left: 0

  &:hover h3
    color: $link-color

  p
    color: $text-color
    margin-top: $smallest-spacing

  header
    @media (min-width: $break-small)
      display: flex
      gap: $base-spacing

.article-content
  flex: 1

.article-meta
  color: $muted-color
  font-size: $small-font-size
  font-weight: $font-weight-regular

  svg
    display: inline-block
    margin: 0 0.05rem 0 0.15rem
    max-width: 1rem
    vertical-align: -0.35em

.article-summary__featured
  p
    color: $muted-color
    margin: 0
    padding-left: $base-spacing

    @media (min-width: $break-small)
      padding-left: 0

.article-content
  img
    margin: $large-spacing auto

.article-summary__list,
.article-summary__featured
  .article-meta
    +title-line($red-500)
    height: 1.5em
    margin-top: 0.5rem
    margin-left: $base-spacing
    width: 8rem