@import "../../stylesheets/variables"

.article-summary
  padding: $base-spacing

  .article-title
    font-size: 1.25rem

  .article-meta
    color: $muted-color
    font-size: $small-font-size

    > *
      display: inline-block
      vertical-align: middle

  .article-source-icon
    +size(1rem)
