@import "../stylesheets/variables"

.case-study--list
  +two-column

  @media (min-width: $break-small)
    margin: $large-spacing 0

  > a
    display: block

    &:nth-child(even)
      @media (min-width: $break-small)
        @supports (display: grid)
          transform: translateY($large-spacing * 2)
