@import "../stylesheets/variables"

.clients-logos
  display: flex
  align-items: center
  justify-content: space-between
  list-style: none
  margin: $large-spacing auto
  max-width: 60rem
  padding: 0

  span
    flex: 1
    padding: 0 $small-spacing

    svg
      max-height: 5rem
