@import "../stylesheets/variables"

.dribbble
  display: none

  &.active
    display: block

.dribbble-list
  display: flex
  flex-wrap: wrap
  list-style: none
  margin-top: $base-spacing
  padding: 0

  li
    align-items: center
    background-color: mix($offwhite, $light-brown, 75%)
    border: 1px solid $light-gray
    border-radius: $base-border-radius
    box-shadow: $small-shadow
    justify-content: center
    margin: 0 0 $base-spacing
    overflow: hidden
    position: relative
    transition: background-color $fast-timing, transform $fast-timing
    width: 100%

    @media (min-width: $break-small)
      display: flex
      flex-direction: column
      margin-right: 2%
      width: 48%

      &:nth-child(2n)
        margin-right: 0

    @media (min-width: $break-medium)
      width: 23%

      &:nth-child(2n)
        margin-right: 2%

      &:nth-child(4n)
        margin-right: 0

    &:hover
      box-shadow: $base-shadow
      transform: scale(1.15)

    a
      display: block
      width: 100%

    img
      width: 100%
