@import "../stylesheets/variables"

.teaching
  @media (min-width: $break-medium)
    display: flex
    flex-direction: row

  &-portrait
    margin-bottom: $base-spacing

    @media (min-width: $break-medium)
      flex: 1
      margin-right: $base-spacing

    img
      border-radius: $base-border-radius
      box-shadow: $base-shadow
      max-width: 300px
      width: 100%

  &-content
    @media (min-width: $break-medium)
      flex: 3
