// Headings Font

@font-face
  font-family: "Libre Baskerville"
  src: url("./libre-baskerville.woff2")
  font-weight: normal

// Base Font

@font-face
  font-family: "Brandon"
  src: url("./brandon--light.woff2")
  font-weight: 200

@font-face
  font-family: "Brandon"
  src: url("./brandon--regular.woff2")
  font-weight: 300

@font-face
  font-family: "Brandon"
  src: url("./brandon--medium.woff2")
  font-weight: 500

@font-face
  font-family: "Brandon"
  src: url("./brandon--bold.woff2")
  font-weight: 600

@font-face
  font-family: "Brandon"
  src: url("./brandon--black.woff2")
  font-weight: 800
