@import "../../stylesheets/variables"

.section-about
  @media(min-width: $break-medium)
    +container
    +split-layout

.about-content
  @media(min-width: $break-medium)
    +split-primary
    display: flex
    flex-direction: column
    margin-left: $base-spacing
    justify-content: center
    text-align: left

.about-portrait
  margin-bottom: $base-spacing

  @media(min-width: $break-medium)
    +split-secondary
    justify-content: flex-start
    margin-left: $small-spacing
    margin-bottom: 0

  img
    border-radius: $base-border-radius
    max-width: 12em

    @media(min-width: $break-medium)
      margin-right: 0

.section-quote
  margin: 0 auto
  max-width: 50rem
