@import "../../stylesheets/variables"

html[data-current="home"]
  main
    display: flex
    height: 100vh
    flex-direction: column

  .intro
    flex: 1
    position: static
    text-align: left

  .content
    display: flex
    margin-bottom: $small-spacing
    margin-top: 0

  .site-footer
    display: none

.home-section
  display: flex
  flex: 1
  flex-direction: column

  &:not(:last-child)
    margin-right: $base-spacing

  .card
    flex: 1
    padding: $base-spacing

  h2
    font-size: 1.25rem

  p
    color: $text-color
    font-size: $small-font-size
    margin: 0

  .article-summary
    header,
    .article-summary-body
      padding: 0

.card
  min-height: 9rem
