@import "../../stylesheets/variables"
@import "../../stylesheets/typography"

body[data-current="home"]
  .intro
    background-image: url("../../images/intro-home.jpg")

  .intro-content
    @media (min-width: $break-medium)
      align-items: center
      display: flex
      flex-direction: row
      justify-content: center
      margin-bottom: -$base-spacing
      margin-top: -$base-spacing
      padding-bottom: 0

    .home-intro--portrait
      box-shadow: $base-shadow
      display: none
      margin-bottom: -$large-spacing

      @media (min-width: $break-medium)
        display: block
        max-width: 20rem

    .home-intro--copy
      font-size: 0.9rem

      @media (min-width: $break-medium)
        margin-left: $base-spacing
        margin-top: $large-spacing
        max-width: 25rem

    h1
      +title-line($red, $base-spacing)
      margin-bottom: $smallest-spacing

      &::before
        width: $base-spacing

        @media (max-width: $break-medium)
          display: none

.home-work
  margin-top: $base-spacing
  padding-bottom: $large-spacing
  padding-top: $large-spacing

  &--list
    +two-column
    margin: $large-spacing 0 $base-spacing

    > a
      display: block
      margin-bottom: $large-spacing
      padding: 0 $base-spacing
      position: relative
      text-align: center

      @each $brand, $color in $brand-colors
        &.home-work--#{$brand}
          h3
            +brand-text($color)
            display: inline-block

          .home-work-thumbnail::after
            +brand-gradient($color)

      h3
        margin-bottom: 0

      p
        color: $muted-color
        font-size: $small-font-size
        margin: 0

  .home-work-thumbnail
    margin: 0 0 $small-spacing

    &:hover
      .home-work-thumbnail-image
        box-shadow: $large-shadow, $base-shadow
        transform: scale(1.025)

    &::after
      +position(absolute, 10% $base-spacing null)
      background-color: $offwhite
      border-radius: $base-border-radius
      content: ""
      display: block
      padding-top: 45%
      transform: skewY(3deg)
      z-index: 1

    &-image
      background-color: $offwhite
      background-size: cover
      box-shadow: $base-shadow, $small-shadow
      margin: 0 15%
      padding-top: 70%
      position: relative
      transform: scale(1)
      transition: box-shadow $base-timing, transform $fast-timing
      width: 70%
      z-index: 2


.home-articles
  @media (min-width: $break-small)
    display: flex
    flex-direction: row

    &--copy,
    &--list
      flex: 0 0 48%

    &--copy
      padding-right: 4%

  &--list
    margin-top: 2.5rem

    .article
      padding-right: 0
