.app {
  background: transparent url("/images/noise-transparent.png") repeat 0 0;
  background-size: 200px 166px;
  background-attachment: fixed;
  padding: var(--base-spacing);
  position: relative;
  z-index: 1;
}

.app::after {
  --dot-spacing: var(--small-spacing);
  --dot-position: calc(var(--dot-spacing) * -0.5);
  --dot-starting-opacity: 0;
  --dot-ending-opacity: 0.25;
  display: block;
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: radial-gradient(var(--background-dot-color), 1px, transparent 0);
  background-size: var(--dot-spacing) var(--dot-spacing);
  background-position: cvar(--dot-position) var(--dot-position);
  mask-image: radial-gradient(
    ellipse at center,
    rgba(0,0,0,var(--dot-starting-opacity)) 50%,
    rgba(0,0,0,var(--dot-ending-opacity)) 100%);
  transition: all var(--slow-timing);
}

.centered {
  margin: 0 auto;
  width: var(--page-width);
}

.surface {
  backdrop-filter: blur(1rem);
  background: rgba(var(--theme-surface-rgb), 0.2);
  background-size: 100px;
  border-radius: var(--surface-border-radius);
  padding: var(--large-spacing);
  position: relative;
  box-shadow: var(--shadow-low);
  width: auto;
  transition: all var(--base-timing) var(--base-easing);
  z-index: 1;
}

.surface:hover {
  backdrop-filter: blur(2rem);
  box-shadow: var(--shadow-high);
}

/* Border gradient */
@property --surface-border-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 120deg;
}
.surface::before {
  --border-start: rgba(var(--theme-highlight-rgb), 0.2);
  --border-middle: rgba(var(--theme-highlight-rgb), 0.1);
  --border-end: rgba(var(--theme-highlight-rgb), 0.15);
  animation:
    rotateBorder 15s
    alternate infinite
    linear;
  background-image: linear-gradient(
    var(--surface-border-angle),
    var(--border-start),
    var(--border-middle) 33%,
    var(--border-middle) 90%,
    var(--border-end)
  );
  border-radius: var(--surface-border-radius);
  /* Put it behind */
  content: "";
  display: inline-block;
  padding: 1px;
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  z-index: -1;
  /* Mask */
  -webkit-mask:
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

@keyframes rotateBorder {
  0%   {
    --surface-border-angle: 120deg;
    border-radius: var(--surface-border-radius);
  }
  100% {
    --surface-border-angle: 480deg;
    border-radius: var(--surface-border-radius);
  }
}

section {
  padding: var(--large-spacing) 0;
}

.sketch {
  opacity: 0.66;
  transition: opacity var(--fast-timing);
}

html[data-prefers-color-scheme="light"] {
  .sketch {
    filter: invert();
  }
}

.sketch:hover {
  opacity: 1;
}