.app {
  background: transparent url("/images/noise-transparent.png") repeat 50% 0;
  background-size: 200px 100px;
  padding: var(--base-spacing) 0;
  position: relative;
  z-index: 1;
}

.app::after {
  --dot-color: rgba(128, 128, 128, 0.15);
  --dot-spacing: var(--small-spacing);
  --dot-position: calc(var(--dot-spacing) * -0.5);
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  background-image: radial-gradient(var(--dot-color), 1px, transparent 0);
  background-size: var(--dot-spacing) var(--dot-spacing);
  background-position: var(--dot-position) var(--dot-position);
  background-origin: 50% 0;
}

.centered {
  margin: 0 auto;
  width: var(--page-width);
}

section {
  padding: var(--large-spacing) 0;
}

.sketch {
  opacity: 0.66;
  transition: opacity var(--fast-timing);
}

html[data-prefers-color-scheme="light"] {
  .sketch {
    filter: invert();
  }
}

.sketch:hover {
  opacity: 1;
}