h1, 
h2,
h3,
h4 {
  --heading-size: var(--base-font-size);
  color: var(--heading-color);
  font-family: var(--heading-font);
  font-weight: var(--font-weight-semibold);
  letter-spacing: 0.025rem;
  line-height: 1.15;
  margin: 0 0 0.15em;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  color: var(--muted-color);
  font-size: 1.25rem;
}

ul {
  list-style: none;
  margin: 0 var(--base-spacing);
  padding: 0;
}

li {
  padding-left: 0
}

li::before {
  color: var(--muted-color);
  content: "•";
  display: inline-block;
  font-size: 1.5rem;
  line-height: 0;
  margin-left: calc(var(--small-spacing) * -1);
  margin-right: var(--smaller-spacing);
}

p {
  margin: 0 0 var(--base-spacing);
  font-weight: var(--font-weight-light);
  text-wrap: pretty;
}

p:last-child {
  margin-bottom: 0;
}

p + h2 {
  margin-top: var(--large-spacing);
}

p + h3 {
  margin-top: var(--base-spacing);
}

p + ul {
  margin-top: calc(var(--small-spacing) * -1);
}

a {
  color: var(--theme-action-color);
  font-weight: var(--font-weight-regular);
  text-decoration: none;
}

a h2,
a h3,
a h3 {
  color: var(--theme-action-color);
}

a:hover {
  text-decoration: none;
}

strong {
  font-weight: var(--font-weight-semibold);
}

img,
svg {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

mark {
  background: linear-gradient(
    90deg,
    rgba(var(--theme-highlight-rgb), 0.2) 10%,
    rgba(var(--theme-highlight-rgb), 0.1) 80%,
    rgba(var(--theme-highlight-rgb), 0.15)
  );
  border-radius: 1.5rem 0.5rem;
  box-decoration-break: clone;
  color: var(--theme-text-color);
  font-weight: var(--font-weight-regular);
  padding: 0 0.33rem 0.16rem;
}

/* Code blocks */
pre {
  background-color: var(--black);
  font-size: var(--small-font-size);
  padding: 0 var(--small-spacing);
}

pre .nc,
pre .s {
  color: shade(var(--green-500), 25%);
}

pre .nb {
  color: var(--blue-500);
}

pre  .m {
  color: var(--cyan-500);
}

.na {
  color: var(--purple-500);
}

/* Small text */
small,
figcaption,
.section-title {
  color: var(--muted-color);
  font-family: var(--heading-font);
  font-size: var(--small-font-size);
  font-weight: var(--font-weight-light);
  letter-spacing: 0.05rem;
  line-height: 200%;
}

figure {
  margin: 0;
  padding: 3%;
}

figcaption {
  font-size: var(--smallest-font-size);
  margin: var(--smaller-spacing) 0 0;
}

.section-title {
  margin: 0;
}

blockquote {
  font-size: var(--large-font-size);
  font-style: italic;
  position: relative;
  margin-bottom: var(--base-spacing);
}

blockquote::before {
  color: var(--muted-color);
  content: "“";
  font-size: 6rem;
  font-family: var(--heading-font);
  left: -0.3rem;
  opacity: 0.25;
  position: absolute;
  top: -0.45rem;
  width: 1rem;
  z-index: -1;
}