h1, 
h2,
h3,
h4 {
  color: var(--theme-heading-color);
  font-family: var(--heading-font);
  font-weight: var(--font-weight-semibold);
  letter-spacing: 0.015em;
  line-height: 1.1;
  margin: 0 0 var(--smallest-spacing);
}

h1 {
  font-size: 2.33em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  color: var(--theme-muted-color);
  font-size: 1.33em;
}

ul {
  list-style: none;
  margin: 0 var(--base-spacing) 0;
  padding: 0;
}

.article-body ul {
  background: var(--theme-stark-color);
  border: 1px solid rgba(var(--theme-highlight-rgb), 0.1);
  border-radius: var(--large-border-radius);
  font-size: var(--small-font-size);
  margin: 0;
  padding: var(--small-spacing) var(--base-spacing);
}

li {
  padding-left: 0
}

li::before {
  color: var(--theme-muted-color);
  content: "•";
  display: inline-block;
  font-size: 1.5em;
  line-height: 0;
  margin-left: calc(var(--small-spacing) * -1);
  margin-right: var(--smallest-spacing);
}

p {
  margin: 0 0 var(--base-spacing);
  font-weight: var(--font-weight-light);
}

p:last-child {
  margin-bottom: 0;
}

p + h2 {
  margin-top: 2em;
}

p + h3 {
  margin-top: 1em;
}

a {
  color: var(--theme-link-color);
  font-weight: var(--font-weight-regular);
  text-decoration: none;
}

a h2,
a h3,
a h3 {
  color: var(--theme-link-color);
}

a:hover {
  color: var(--theme-link-hover);
  text-decoration: none;
}

strong {
  font-weight: var(--font-weight-semibold);
}

img,
svg {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

mark {
  background-color: rgb(var(--theme-highlight-rgb), 0.2);
  border-radius: 1.5rem 0.5rem;
  color: var(--theme-text-color);
  font-weight: var(--font-weight-regular);
  padding: 0 0.66rem 0.16rem;
}

/* Code blocks */
pre {
  background-color: var(--black);
  font-size: var(--small-font-size);
  padding: 0 var(--small-spacing);
}

pre .nc,
pre .s {
  color: shade(var(--green-500), 25%);
}

pre .nb {
  color: var(--blue-500);
}

pre  .m {
  color: var(--cyan-500);
}

.na {
  color: var(--purple-500);
}

/* Small text */
small,
figcaption,
.section-title {
  color: var(--theme-muted-color);
  font-family: var(--heading-font);
  font-size: var(--small-font-size);
  font-weight: var(--font-weight-medium);
  letter-spacing: 0.05em;
  margin: var(--small-spacing) auto;
  mix-blend-mode: soft-light;
}

figure {
  padding: var(--base-spacing) 0;
}

figcaption {
  text-align: center;
}

.section-title {
  margin: 0;
}