h1, 
h2,
h3,
h4 {
  color: var(--theme-heading-color);
  font-family: var(--heading-font);
  font-weight: var(--font-weight-semibold);
  letter-spacing: 0.1rem;
  line-height: 1.2;
  margin: 0 0 var(--smallest-spacing);
}

h1 {
  font-size: 2.75em;
}

h1 + small {
  margin-top: 0;
}

h2 {
  font-size: 2em;
}

h3 {
  color: var(--theme-muted-color);
  font-size: 1.25em;
}

ul {
  list-style: none;
  margin: 0 var(--base-spacing);
  padding: 0;
}

li {
  padding-left: 0
}

li::before {
  color: var(--theme-muted-color);
  content: "•";
  display: inline-block;
  font-size: 1.5em;
  line-height: 0;
  margin-left: calc(var(--small-spacing) * -1);
  margin-right: var(--smallest-spacing);
}

p {
  margin: 0 0 var(--base-spacing);
  font-weight: var(--font-weight-light);
  text-wrap: pretty;
}

p:last-child {
  margin-bottom: 0;
}

p + h2 {
  margin-top: var(--large-spacing);
}

p + h3 {
  margin-top: var(--base-spacing);
}

p + ul {
  margin-top: calc(var(--small-spacing) * -1);
}

a {
  color: var(--theme-link-color);
  font-weight: var(--font-weight-regular);
  text-decoration: none;
}

a h2,
a h3,
a h3 {
  color: var(--theme-link-color);
}

a:hover {
  color: var(--theme-link-hover);
  text-decoration: none;
}

strong {
  font-weight: var(--font-weight-semibold);
}

img,
svg {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

mark {
  background: linear-gradient(
    90deg,
    rgba(var(--theme-highlight-rgb), 0.24) 10%,
    rgba(var(--theme-highlight-rgb), 0.16) 80%,
    rgba(var(--theme-highlight-rgb), 0.24)
  );
  border-radius: 1.5rem 0.5rem;
  box-decoration-break: clone;
  color: var(--theme-text-color);
  font-weight: var(--font-weight-regular);
  padding: 0 0.66rem 0.16rem;
}

/* Code blocks */
pre {
  background-color: var(--black);
  font-size: var(--small-font-size);
  padding: 0 var(--small-spacing);
}

pre .nc,
pre .s {
  color: shade(var(--green-500), 25%);
}

pre .nb {
  color: var(--blue-500);
}

pre  .m {
  color: var(--cyan-500);
}

.na {
  color: var(--purple-500);
}

/* Small text */
small,
figcaption,
.section-title {
  color: var(--theme-muted-color);
  font-family: var(--heading-font);
  font-size: var(--small-font-size);
  font-weight: var(--font-weight-light);
  letter-spacing: 0.05em;
  line-height: 200%;
  margin: var(--smallest-spacing) auto;
}

figure,
figure.surface {
  margin: 0;
  padding: 3%;
}

figcaption {
  font-size: var(--smallest-font-size);
  margin: var(--smallest-spacing) 0 0;
}

.section-title {
  margin: 0;
}

blockquote {
  font-size: var(--large-font-size);
  font-style: italic;
  position: relative;
  margin-bottom: var(--base-spacing);
}

blockquote::before {
  color: var(--theme-muted-color);
  content: "“";
  font-size: 6em;
  font-family: var(--heading-font);
  left: -0.3em;
  opacity: 0.25;
  position: absolute;
  top: -0.45em;
  width: 1em;
  z-index: -1;
}