@import "_variables.css";
@import "_typography.css";
@import "_fonts.css";

* {
  box-sizing: border-box;
}

html {
  background: var(--black);
}

body {
  background: var(--theme-background-color);
  background-image: radial-gradient(circle, var(--theme-background-color) 10%, rgb(var(--theme-surface-rgb)) 110%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: var(--theme-text-color);
  font-family: var(--sans-serif);
  font-size: var(--base-font-size);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  padding: 0;
  transition: background-color var(--slow-timing);
}

.centered {
  margin: 0 auto;
  width: var(--page-width);
}

.surface {
  --fill-light: inset 1px 1px 1px rgba(var(--theme-highlight-rgb), 0.3);
  --key-light: inset -1px -1px 1px rgba(var(--theme-accent-rgb), 0.2);
  background-color: rgba(var(--theme-surface-rgb), 85%);
  box-shadow: var(--fill-light), var(--key-light), var(--shadow-high);
  border-radius: var(--large-border-radius);
  padding: var(--large-spacing);
  position: relative;
}

section {
  padding: var(--base-spacing) 0;
}

section:first-child {
  padding-top: 0;
}

section:last-child {
  padding-bottom: 0;
}

img {
  border-radius: var(--large-border-radius);
}