@import "_variables.css";
@import "_typography.css";
@import "_fonts.css";

* {
  box-sizing: border-box;
}

html {
  background: var(--black);
}

body {
  background: var(--theme-background-color);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--theme-text-color);
  font-family: var(--sans-serif);
  font-size: var(--base-font-size);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  padding: 0;
  transition: background-color var(--slow-timing);
}

img {
  border-radius: var(--large-border-radius);
  box-shadow: var(--shadow-base);
}