@import "_variables.css";
@import "_typography.css";
@import "_layout.css";
@import "_fonts.css";

* {
  box-sizing: border-box;
  transition: all var(--base-timing) var(--base-easing);
}

html {
  background: var(--theme-background-color);
  overflow-x: hidden;
  transition: all var(--slowest-timing) var(--fast-easing);
}

body {
  background-image: radial-gradient(
    circle at bottom,
    rgba(var(--theme-surface-rgb), var(--background-gradient-start)),
    rgba(var(--theme-surface-rgb), var(--background-gradient-end))
  );
  background-attachment: fixed;
  color: var(--theme-text-color);
  font-family: var(--sans-serif);
  font-size: var(--base-font-size);
  font-weight: var(--font-weight-light);
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  padding: 0;
}

main {
  position: relative;
}

img,
video {
  border-radius: var(--base-border-radius);
  max-width: 100%;
}
