@import "../../stylesheets/variables"

.intro
  align-items: center
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  display: flex
  transition: transform $base-timing
  z-index: -1

  .intro-content
    +container
    animation: rise 1s ease-in-out
    margin: $large-spacing auto
    padding: 6rem $base-spacing 0
    position: relative
    flex: 1
    transform-origin: $base-spacing 100%
    z-index: 2

    body[data-intro="true"] &
      padding-bottom: 6rem


  h1
    color: $red
    margin-bottom: $smallest-spacing

  p
    font-weight: 300
    margin: 0

  .intro-meta
    color: $white
    font-size: $small-font-size
    font-weight: 700
    opacity: 0.5
    text-transform: uppercase

  body[data-intro="true"] &
    +angle-bottom
    background-color: $brown

    h1,
    p
      color: $white

    .logo
      svg
        path,
        ellipse
          fill: $white
