@import "../../stylesheets/variables"

.intro
  +position(fixed, 0 $base-spacing null $header-width)
  align-items: center
  color: $offwhite
  display: flex
  justify-content: center
  flex-direction: column
  height: $intro-height
  text-align: center
  transition: transform $base-timing
  z-index: -1

  .nav-active &
    transform: translate($header-width-wide)

  .intro-content
    animation: rise 1s ease-in-out

  h1
    font-size: 2.25rem
    margin-bottom: 0

  p
    font-weight: 300
    margin: 0

  .section-title
    color: $muted-color-white
    font-weight: 800
    margin: 0.25rem 0 0

  .logo
    svg
      path,
      ellipse
        fill: $white

.intro-icon
  position: absolute
  left: 50%
  height: 4rem
  width: 4rem
  border-radius: 50%
  margin: -2rem 0 0 -2rem
  transition: transform $base-timing
  z-index: 1000

  .nav-active &
    transform: translate($header-width-wide)
